@use '../../../Public/SCSS/Utilities/Variables' as *;

/////////////////////////////////
// Base

html {
  font-family: Purely Me, Century Gothic, Verdana, Sans-Serif;
  font-variant-ligatures: none;
}

/////////////////////////////////
// Master Grid Container
.master-grid-container {
  .logo-container {
    .logo-text {
      font-size: 7rem;
      color: $primaryColor;
    }
  }
  .entrance-button-container {
    font-family: MADE Tommy Soft, Verdana, sans-serif;
    .entrance-button {
      font-size: 2.2rem;
      color: rgba($primaryColor, 0.75);
      &:hover {
        color: $colorOffWhite;
      }
    }
  }
  .slogan {
    font-family: MADE Tommy Soft, Verdana, sans-serif;
    font-size: 3.6rem;
    color: $primaryColor;
  }
  .form-container {
    .form-close-icon {
      font-size: 4rem;
      color: rgba($primaryColor, 0.5);
      &:hover {
        color: $primaryColor;
      }
    }
    .login-form,
    .signup-form,
    .forgotten-form,
    .reset-password-form {
      font-family: MADE Tommy Soft, Verdana, sans-serif;
      &__header {
        &__title {
          font-family: MADE Tommy Soft Bold, Verdana, sans-serif;
          font-size: 10rem;
          color: $primaryColor;
          &--medium {
            font-family: MADE Tommy Soft Bold, Verdana, sans-serif;
            color: $primaryColor;
            font-size: 6rem;
          }
        }
      }
      &__section {
        &__input {
          font-size: 2rem;
          color: rgba($primaryColor, 0.8);
          &:focus {
            color: $primaryColor;
            & > label {
              color: $primaryColor;
            }
          }
        }
        &__label {
          font-size: 2rem;
          color: rgba($primaryColor, 0.8);
        }
        &__button {
          font-size: 2.2rem;
          color: rgba($primaryColor, 0.75);
          &:hover {
            color: $colorOffWhite;
          }
        }
        &__forgot-username-or-password-link {
          font-size: 1.6rem;
          color: rgba($primaryColor, 0.8);
          &:hover {
            color: $primaryColor;
          }
        }
      }
      &__form-page {
        &__section {
          &__input {
            font-size: 2rem;
            color: rgba($primaryColor, 0.8);
            &:focus {
              color: $primaryColor;
              & > label {
                color: $primaryColor;
              }
            }
          }
          &__label {
            font-size: 2rem;
            color: rgba($primaryColor, 0.8);
          }
          &__button {
            font-size: 2.2rem;
            color: rgba($primaryColor, 0.75);
            &:hover {
              color: $colorOffWhite;
            }
          }
          &__page-number {
            font-size: 2rem;
            color: $primaryColor;
          }
          .signup-form__form-page__section__input-container--latter-day-saint {
            .signup-form__form-page__section__input--latter-day-saint {
              &__text--NO,
              &__text--YES {
                font-size: 3rem;
                color: $colorOffWhite;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
  .app-flex-container {
    .app-navigation__main {
      &__navigation-links {
        font-family: MADE Tommy Soft, Verdana, sans-serif;
        &__link-container {
          &__link {
            &--link {
              font-size: 2rem;
              color: rgba($colorOffWhite, 0.8);
              &:link,
              &:visited {
                text-decoration: none;
                color: rgba($colorOffWhite, 0.8);
              }
              &:hover {
                color: $colorOffWhite;
              }
              &:active {
                color: $colorDarkGrey;
              }
            }
          }
        }
      }
      &__logo-container {
        &__text {
          font-size: 3rem;
          color: $colorOffWhite;
        }
      }
      &__user-information {
        font-family: MADE Tommy Soft, Verdana, sans-serif;
        &__update-picture {
          color: rgba($colorOffWhite, 0.8);
          &--icon {
            font-size: 1.6rem;
          }
          &--text {
            font-size: 1.6rem;
          }
          &:hover {
            .app-navigation__main__user-information__update-picture--icon,
            .app-navigation__main__user-information__update-picture--text {
              color: $colorOffWhite;
            }
          }
        }
        &__user-name {
          font-size: 3.6rem;
          color: $colorOffWhite;
        }
      }
    }
    .app-viewport {
      .app-name {
        font-size: 7rem;
        color: $primaryColor;
      }
      &__display-container {
        .budget-card-container {
          &__card {
            font-family: MADE Tommy Soft, Verdana, sans-serif;
            &__header {
              &__text {
                font-size: 2.4rem;
                font-family: Purely Me;
                color: rgba($colorOffWhite, 0.8);
              }
              &__icon {
                font-size: 2rem;
                color: rgba($colorOffWhite, 0.8);
              }
            }
            &__content {
              &__change-photo-button {
                &__icon {
                  font-size: 1.6rem;
                  color: rgba($primaryColor, 0.5);
                }
              }
            }
            &__footer {
              color: rgba($colorOffWhite, 0.8);
              &--top {
                font-size: 1.2rem;
              }
              &--bottom {
                font-size: 1.8rem;
              }
            }
            &:hover {
              .budget-card-container__card__header {
                &__text {
                  color: $colorOffWhite;
                }
                &__icon {
                  color: $colorOffWhite;
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }
              .budget-card-container__card__content {
                &__change-photo-button {
                  &:hover {
                    .budget-card-container__card__content__change-photo-button__icon {
                      color: $colorOffWhite;
                    }
                  }
                }
              }
              .budget-card-container__card__footer {
                color: $colorOffWhite;
              }
            }
            &--create {
              &__header {
                &__text {
                  font-size: 2rem;
                  color: rgba($colorOffWhite, 0.8);
                }
              }
              &__icon {
                font-size: 10rem;
                color: rgba($primaryColor, 0.8);
              }
              &:hover {
                .budget-card-container__card--create__header {
                  &__text {
                    color: $colorOffWhite;
                  }
                }
                .budget-card-container__card--create__icon {
                  color: $primaryColor;
                }
              }
            }
          }
        }
        .user-profile-container {
          &__close {
            font-size: 4rem;
            color: rgba($colorOffWhite, 0.8);
            &:hover {
              color: $colorOffWhite;
            }
          }
          &__header {
            &__text {
              font-family: MADE Tommy Soft, Verdana, sans-serif;
              font-size: 10rem;
              color: $colorOffWhite;
            }
          }
        }
      }
    }
  }
  .app-flex-container {
    .app-viewport {
      &__display-container {
        .user-profile-container {
          // USER PROFILE FORM CONTAINER
          &__form-container {
            // USER PROFILE FORM
            .user-profile-form {
              &__section {
                font-family: MADE Tommy Soft, Verdana, sans-serif;
                &__label {
                  font-size: 2rem;
                  color: rgba($colorOffWhite, 0.8);
                }
                &__input {
                  font-size: 2rem;
                  color: rgba($colorOffWhite, 0.8);
                  &:focus {
                    color: $colorOffWhite;
                    & + label {
                      color: $colorOffWhite;
                    }
                  }
                }
                &__input-container--latter-day-saint {
                  .user-profile-form__section__input--latter-day-saint {
                    &__text--NO,
                    &__text--YES {
                      font-size: 3rem;
                      color: $colorOffWhite;
                      text-transform: capitalize;
                    }
                  }
                }
                &__button {
                  font-family: MADE Tommy Soft, Verdana, sans-serif;
                  font-size: 1.6rem;
                  color: rgba($colorOffWhite, 0.8);
                  &:hover {
                    color: $colorOffWhite;
                  }
                  &__password-button {
                    font-family: MADE Tommy Soft, Verdana, sans-serif;
                    font-size: 1.6rem;
                    color: rgba($colorOffWhite, 0.8);
                    &:hover {
                      color: $colorOffWhite;
                    }
                  }
                }
                &__sub-section {
                  font-family: MADE Tommy Soft, Verdana, sans-serif;
                  color: rgba($colorOffWhite, 0.8);
                  &__input {
                    font-family: MADE Tommy Soft, Verdana, sans-serif;
                    font-size: 1.6rem;
                    color: rgba($colorOffWhite, 0.8);
                  }
                  &__label {
                    font-size: 1.6rem;
                  }
                  &__button {
                    font-family: MADE Tommy Soft, Verdana, sans-serif;
                    font-size: 2rem;
                    color: rgba($colorOffWhite, 0.8);
                    &:hover {
                      color: $colorOffWhite;
                    }
                  }
                }
                &__comm-switch {
                  &--email,
                  &--text {
                    font-size: 2rem;
                    color: $colorOffWhite;
                    &__text {
                      font-size: 1.6rem;
                    }
                  }
                }
              }
              &__button {
                font-family: MADE Tommy Soft, Verdana, sans-serif;
                color: rgba($colorOffWhite, 0.75);
                font-size: 3rem;
                &--icon {
                  font-size: 2rem;
                }
                &--text {
                  font-size: 1.6rem;
                }
                &:hover {
                  color: $colorOffWhite;
                }
                &:active {
                  color: $colorDarkerGrey;
                }
              }
            }
          }
        }
      }
    }
  }
}
