section.budget-creation-form__page__section.r__budget-creation-form__page__section
  section.budget-creation-form__page__section__sub-category-container.r__budget-creation-form__page__section__sub-category-container
    section.budget-creation-form__page__section__sub-category-container__main-category-display.r__budget-creation-form__page__section__sub-category-container__main-category-display
      section.budget-creation-form__page__section__sub-category-container__main-category-display__left-button.r__budget-creation-form__page__section__sub-category-container__main-category-display__left-button
        i.fas.fa-arrow-alt-circle-left.budget-creation-form__page__section__sub-category-container__main-category-display__left-button__icon.r__budget-creation-form__page__section__sub-category-container__main-category-display__left-button__icon
      section.budget-creation-form__page__section__sub-category-container__main-category-display__category-information.r__budget-creation-form__page__section__sub-category-container__main-category-display__category-information
        i.fas.budget-creation-form__page__section__sub-category-container__main-category-display__category-information__icon.r__budget-creation-form__page__section__sub-category-container__main-category-display__category-information__icon
        p.budget-creation-form__page__section__sub-category-container__main-category-display__category-information__text.r__budget-creation-form__page__section__sub-category-container__main-category-display__category-information__text Housing
      section.budget-creation-form__page__section__sub-category-container__main-category-display__right-button.r__budget-creation-form__page__section__sub-category-container__main-category-display__right-button
        i.fas.fa-arrow-alt-circle-right.budget-creation-form__page__section__sub-category-container__main-category-display__right-button__icon.r__budget-creation-form__page__section__sub-category-container__main-category-display__right-button__icon
    section.budget-creation-form__page__section__sub-category-container__sub-category-display.r__budget-creation-form__page__section__sub-category-container__sub-category-display
      section.budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category.r__budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category.category-creation.r__category-creation 
        .category-creation__input-container.r__category-creation__input-container 
          input.category-creation__input-container__input.r__category-creation__input-container__input.sub-category-title.r__sub-category-title(type="text" placeholder="Sub Category Name")
          button.category-creation__input-container__button.r__category-creation__input-container__button.sub-category-title-submit.r__sub-category-title-submit Create
        .category-creation__controller.r__category-creation__controller  
          .category-creation__controller__surplus-container.r__category-creation__controller__surplus-container 
            p.category-creation__controller__surplus-container__title.r__category-creation__controller__surplus-container__title Surplus?
            section.category-creation__controller__surplus-container__switch.r__category-creation__controller__surplus-container__switch 
              section.category-creation__controller__surplus-container__switch__toggle.r__category-creation__controller__surplus-container__switch__toggle
                i.fas.fa-times.category-creation__controller__surplus-container__switch__toggle__icon.r__category-creation__controller__surplus-container__switch__toggle__icon
          i.fas.fa-trash-alt.category-creation__controller__icon.r__category-creation__controller__icon 
      button.budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button.r__budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button
        i.fas.fa-plus.budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button__icon.r__budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button__icon
        p.budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button__text.r__budget-creation-form__page__section__sub-category-container__sub-category-display__sub-category-button__text Add Sub Category