section.form__section.r__form__section
  section.budget-creation-container--sub-categories.r__budget-creation-container--sub-categories
    section.budget-creation-container--sub-categories__main-category-display.r__budget-creation-container--sub-categories__main-category-display
      section.budget-creation-container--sub-categories__main-category-display__left-button.r__budget-creation-container--sub-categories__main-category-display__left-button
        i.fas.fa-arrow-alt-circle-left.budget-creation-container--sub-categories__main-category-display__left-button__icon.r__budget-creation-container--sub-categories__main-category-display__left-button__icon
      section.budget-creation-container--sub-categories__main-category-display__category-information.r__budget-creation-container--sub-categories__main-category-display__category-information
        i.fas.budget-creation-container--sub-categories__main-category-display__category-information__icon.r__budget-creation-container--sub-categories__main-category-display__category-information__icon
        p.budget-creation-container--sub-categories__main-category-display__category-information__text.r__budget-creation-container--sub-categories__main-category-display__category-information__text Housing
      section.budget-creation-container--sub-categories__main-category-display__right-button.r__budget-creation-container--sub-categories__main-category-display__right-button
        i.fas.fa-arrow-alt-circle-right.budget-creation-container--sub-categories__main-category-display__right-button__icon.r__budget-creation-container--sub-categories__main-category-display__right-button__icon
    section.budget-creation-container--sub-categories__sub-category-display.r__budget-creation-container--sub-categories__sub-category-display
      section.form__section--sub-category-creation.r__form__section--sub-category-creation.closed
        .form__input-container--sub-category-title.r__form__input-container--sub-category-title
          input.form__input--sub-category-title.r__form__input--sub-category-title(type="text" placeholder="Sub Category Name")
          button.button--small-create-sub-category.r__button--small-create-sub-category Create
        .category-creation-controller.r__category-creation-controller 
          button.button--small-create-sub-category-close.r__button--small-create-sub-category-close 
            i.fas.fa-times.button--small-create-sub-category-close__icon.r__button--small-create-sub-category-close__icon 
            p.button--small-create-sub-category-close__text.r__button--small-create-sub-category-close__text Close 
      button.button--borderless.r__button--borderless.open
        i.fas.fa-plus.button--borderless__icon.r__button--borderless__icon
        p.button--borderless__text.r__button--borderless__text Add Sub Category