section.form__section.r__form__section
  input.form__input--small-investment-goal.r__form__input--small-investment-goal#investmentPercentGoal(type="number" name="investmentPercentGoal" placeholder="INVESTMENT PERCENT GOAL" min="0" max="100" required)
  label.form__label--small-investment-goal.r__form__label--small-investment-goal(for="investmentPercentGoal") Percentage going towards investment?
  input.form__input--small-investment-goal.r__form__input--small-investment-goal#investmentGoal(type="number" name="investmentGoal" placeholder="INVESTMENT FUND GOAL" required)
  label.form__label--small-investment-goal.r__form__label--small-investment-goal(for="investmentGoal") What is your investment fund goal amount?