section.unique-profile-content-container.unique-profile-content-container__account-management
  button.unique-profile-content-container__account-management__button 
    i.fas.fa-user-lock.unique-profile-content-container__account-management__button--icon 
    p.unique-profile-content-container__account-management__button--text Logout
  button.unique-profile-content-container__account-management__button 
    i.fas.fa-user-minus.unique-profile-content-container__account-management__button--icon 
    p.unique-profile-content-container__account-management__button--text Delete Account