form.form--full-width.r__form--full-width
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="submit")
      i.fas.fa-door-open.button--small-transparent--icon.r__button--small-transparent--icon 
      p.button--small-transparent--text.r__button--small-transparent--text Logout
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="submit")
      i.fas.fa-user-cog.button--small-transparent--icon.r__button--small-transparent--icon 
      p.button--small-transparent--text.r__button--small-transparent--text Deactivate Account 
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="submit")
      i.fas.fa-user-minus.button--small-transparent--icon.r__button--small-transparent--icon 
      p.button--small-transparent--text.r__button--small-transparent--text Delete Account 