form.user-profile-form.r__user-profile-form
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__button.r__user-profile-form__button.account-management-button.r__account-management-button(type="submit")
      i.fas.fa-door-open.user-profile-form__button--icon.r__user-profile-form__button--icon 
      p.user-profile-form__button--text.r__user-profile-form__button--text Logout
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__button.r__user-profile-form__button.account-management-button.r__account-management-button(type="submit")
      i.fas.fa-user-cog.user-profile-form__button--icon.r__user-profile-form__button--icon 
      p.user-profile-form__button--text.r__user-profile-form__button--text Deactivate Account 
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__button.r__user-profile-form__button.account-management-button.r__account-management-button(type="submit")
      i.fas.fa-user-minus.user-profile-form__button--icon.r__user-profile-form__button--icon 
      p.user-profile-form__button--text.r__user-profile-form__button--text Delete Account 