section.budget-creation-form-container.r__budget-creation-form-container.column_1-20.row_1-16
  i.fas.fa-window-close.form-close-icon
  form.budget-creation-form.r__budget-creation-form
    header.budget-creation-form__header.r__budget-creation-form__header 
      p.budget-creation-form__header__title.r__budget-creation-form__header__title Create Budget
    include Forms/Create-Budget/Page-One/_Page-1
    include Forms/Create-Budget/Page-Two/_Page-2
    include Forms/Create-Budget/Page-Three/_Page-3
    include Forms/Create-Budget/Page-Four/_Page-4
    include Forms/Create-Budget/Page-Five/_Page-5
    include Forms/Create-Budget/Page-Six/_Page-6
    include Forms/Create-Budget/Page-Seven/_Page-7
    include Forms/Create-Budget/Page-Eight/_Page-8
    section.budget-creation-form__page-mechanisms.r__budget-creation-form__page-mechanisms
      p.budget-creation-form__page-mechanisms__page-number.r__budget-creation-form__page-mechanisms__page-number
      button.budget-creation-form__page-mechanisms__submit-button.r__budget-creation-form__page-mechanisms__submit-button Continue