section.create-budget-form__form-section.r__create-budget-form__form-section.create-budget-form-question--full-page 
  header.create-budget-form__sub-header 
    p.create-budget-form__sub-header--text Select Main &amp; Sub Categories 
    button.create-budget-form__sub-header--finish-selecting Finish 
  section.create-budget-form__category-container 
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing 
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing 
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing 
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing 
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing
    .create-budget-form__category-container__category 
      i.fas.fa-home.create-budget-form__category-container__category--icon 
      p.create-budget-form__category-container__category--text Housing
  section.create-budget-form__row-container 
    section.create-budget-form__row-container__main-category-display 
      header.create-budget-form__row-container__main-category-display--header
        p.create-budget-form__row-container__main-category-display--header-text Main Categories 
      .create-budget-form__row-container__main-category-display-container 
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
        .create-budget-form__row-container__main-category-display-container__category 
          i.fas.fa-home.create-budget-form__category-container__category--icon 
          p.create-budget-form__category-container__category--text Housing
    section.create-budget-form__row-container__sub-category-display 
      header.create-budget-form__row-container__sub-category-display--header
        p.create-budget-form__row-container__sub-category-display--header-text Sub Categories
      .create-budget-form__row-container__sub-category-display__sub-category-container
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
        .create-budget-form__row-container__sub-category-display__sub-category-container__container 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Rent / Mortgage
          .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container 
            p.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container--text Surplus?
            .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle 
              .create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch 
                i.fas.fa-times-circle.create-budget-form__row-container__sub-category-display__sub-category-container__container__surplus-container__toggle-switch--icon
          i.fas.fa-trash-alt.create-budget-form__row-container__sub-category-display__sub-category-container__container__remove-category
