form.user-profile-form.r__user-profile-form
  section.user-profile-form__section.r__user-profile-form__section 
    input.user-profile-form__section__input.r__user-profile-form__section__input#email(type="email" name="email" placeholder="Email" value=`${data.user.email}` readonly="true")
    label.user-profile-form__section__label.r__user-profile-form__section__label#emailLabel(for="email") Email
    button.user-profile-form__section__button.r__user-profile-form__section__button(type="button") New Email Address
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newEmail(type="email" name="newEmail" placeholder="New Email")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newEmailLabell(for="newEmail") New Email Address
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newEmailConfirmed(type="email" name="newEmailConfirmed" placeholder="New Email")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newEmailConfirmedLabell(for="newEmailConfirmed") Confirm New Email Address
  section.user-profile-form__section.r__user-profile-form__section
    input.user-profile-form__section__input.r__user-profile-form__section__input#phoneNumber(type="tel" name="phoneNumber" placeholder="Phone Number" value=`${data.user.phoneNumber}` readonly="true")
    label.user-profile-form__section__label.r__user-profile-form__section__label#phoneNumberLabel(for="phoneNumber") Phone Number
    button.user-profile-form__section__button.r__user-profile-form__section__button(type="button") New Phone Number
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newPhoneNumber(type="tel" name="newPhoneNumber" placeholder="New Phone Number")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newPhoneNumberLabell(for="newPhoneNumber") New Phone Number
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newPhoneNumberConfirmed(type="tel" name="newPhoneNumberConfirmed" placeholder="New Phone Number")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newPhoneNumberConfirmedLabell(for="newPhoneNumberConfirmed") Confirm New Phone Number
  section.user-profile-form__section.r__user-profile-form__section.switch-section.r__switch-section 
    label.user-profile-form__section__label.r__user-profile-form__section__label.comms-label.r__comms-label(for="commPreference") Communication Preference
    - let commPreference = data.user.communicationPreference;
    - let textPreferred = false;
    - if (commPreference === `Email`) textPreferred = false;
    - if (commPreference === `Text`) textPreferred = true;
    if textPreferred
      section.user-profile-form__section__comm-switch.r__user-profile-form__section__comm-switch.user-profile-form__section__comm-switch--text-preferred.r__user-profile-form__section__comm-switch--text-preferred#commSwitch
        section.user-profile-form__section__comm-switch--email 
          i.far.fa-envelope.user-profile-form__section__comm-switch--email__icon
          p.user-profile-form__section__comm-switch--email__text Email 
        section.user-profile-form__section__comm-switch--text 
          i.fas.fa-mobile-alt.user-profile-form__section__comm-switch--text__icon
          p.user-profile-form__section__comm-switch--text__text Text
    else
      section.user-profile-form__section__comm-switch.r__user-profile-form__section__comm-switch#commSwitch
        section.user-profile-form__section__comm-switch--email 
          i.far.fa-envelope.user-profile-form__section__comm-switch--email__icon
          p.user-profile-form__section__comm-switch--email__text Email 
        section.user-profile-form__section__comm-switch--text 
          i.fas.fa-mobile-alt.user-profile-form__section__comm-switch--text__icon
          p.user-profile-form__section__comm-switch--text__text Text
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__button.r__user-profile-form__button(type="submit") Update