div.form-container.r__form-container.column_1-24.row_2-17
  i.fas.fa-window-close#closeForgottenForm
  form.forgotten-form.r__forgotten-form(action="/users/forgotPassword" method="POST")
    section.forgotten-form__form-section.r__forgotten-form__form-section
      input.forgotten-form__form-section__input.forgotten-form__form-section__input--rounded-top#forgottenEmail(type="email" name="forgottenEmail" placeholder="Email"  required)
      label.forgotten-form__form-section__label#emailforgotorgotLabel(for="forgottenEmail") Please Enter Your Email
    section.forgotten-form__form-section--message.r__forgotten-form__form-section--message
      div.forgotten-form__form-section--message__message-container.r__forgotten-form__form-section--message__message-container Error Response
      button.forgotten-form__form-section--message__form-button.r__forgotten-form__form-section--message__form-button#forgottenEmailSubmit(type="submit") Submit Email