div.form-container.r__form-container.column_1-24.row_2-17
  form.login-form.r__login-form(action="/App" method="POST")
    section.login-form__form-section.r__login-form__form-section
      input.login-form__form-section__input.login-form__form-section__input--rounded-top#loginUsername(type="text" name="loginUsername" placeholder="Username"  required)
      label.login-form__form-section__label#username-label(for="loginUsername") Please Enter Your Username
    section.login-form__form-section.r__login-form__form-section
      input.login-form__form-section__input#loginPassword(type="password" name="loginPassword" placeholder="Password" required)
      label.login-form__form-section__label#password-label(for="loginPassword") Please Enter Your Password
    section.login-form__form-section--message.r__login-form__form-section--message
      div.login-form__form-section--message__message-container.r__login-form__form-section--message__message-container Error Response
      button.login-form__form-section--message__form-button.r__login-form__form-section--message__form-button#loginButtonOne(type="submit") Login
      button.forgotten-form__form-section--message__form-button.r__forgotten-form__form-section--message__form-button#loginButtonTwo(type="button") Forgot Username or Password