block Navigation
  ul.navigation__landing-navigation.r__navigation__landing-navigation
    button.navigation__landing-navigation__user.r__navigation__landing-navigation__user
      i.fas.fa-user-circle.navigation__landing-navigation__user-icon.r__navigation__landing-navigation__user-icon
      p.navigation__landing-navigation__user-text.r__navigation__landing-navigation__user-text #{data.user.firstname}