form.form--full-width.r__form--full-width
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button--small-transparent.r__button--small-transparent(type="button")
      i.fas.fa-key.button--small-transparent--icon.r__button--small-transparent--icon  
      p.button--small-transparent--text.r__button--small-transparent--text Change Password
  section.form__section--sub-section.r__form__section--sub-section.closed
    input.form__input--dark-extra-small.r__form__input--dark-extra-small#currentPassword(type="password" name="currentPassword" placeholder="Current Password")
    label.form__label--extra-small.r__form__label--extra-small#currentPasswordLabell(for="currentPassword") Current Password
  section.form__section--sub-section.r__form__section--sub-section.closed
    input.form__input--dark-extra-small.r__form__input--dark-extra-small#newPassword(type="password" name="newPassword" placeholder="New Password")
    label.form__label--extra-small.r__form__label--extra-small#newPasswordLabell(for="newPassword") New Password
  section.form__section--sub-section.r__form__section--sub-section.closed
    input.form__input--dark-extra-small.r__form__input--dark-extra-small#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="New Password")
    label.form__label--extra-small.r__form__label--extra-small#newPasswordConfirmedLabell(for="newPasswordConfirmed") Confirm New Password
  section.form__section--sub-section.r__form__section--sub-section.closed
    button.button--small-transparent.r__button--small-transparent(type="submit") Update
  section.form__section.r__form__section
    button.button--small-transparent.r__button--small-transparent(type="button")
      i.fas.fa-key.button--small-transparent--icon.r__button--small-transparent--icon  
      p.button--small-transparent--text.r__button--small-transparent--text 2-Factor Auth Setup