section.unique-profile-content-container.unique-profile-content-container__password-management 
  button.unique-profile-content-container__password-management__button 
    i.fas.fa-key.unique-profile-content-container__password-management__button--icon 
    p.unique-profile-content-container__password-management__button--text Change Password
  button.unique-profile-content-container__password-management__button 
    i.fas.fa-key.unique-profile-content-container__password-management__button--icon 
    p.unique-profile-content-container__password-management__button--text 2-Factor Auth Setup
  form.change-password-form
    section.change-password-form__form-section.r__change-password-form__form-section
      input.change-password-form__form-section__input.change-password-form__form-section__input#currentPassword(type="password" name="currentPassword" placeholder="Current Password"  required)
      label.change-password-form__form-section__label#currentPasswordLabel(for="currentPassword") Please Enter Current Password
    section.change-password-form__form-section.r__change-password-form__form-section
      input.change-password-form__form-section__input.change-password-form__form-section__input#newPassword(type="password" name="newPassword" placeholder="New Password"  required)
      label.change-password-form__form-section__label#newPasswordLabel(for="newPassword") Please Enter New Password
    section.change-password-form__form-section.r__change-password-form__form-section
      input.change-password-form__form-section__input.change-password-form__form-section__input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="Confirm New Password"  required)
      label.change-password-form__form-section__label#newPasswordConfirmedLabel(for="newPasswordConfirmed") Please Confirm New Password
    button.change-password-form__button.change-password-form__button#submitNewPassword(type="submit") Submit