form.form.r__form.form--user-profile.form--user-profile
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="button")
      i.fas.fa-key.button--small-transparent--icon.r__button--small-transparent--icon  
      p.button--small-transparent--text.r__button--small-transparent--text Change Password
  section.form__section.r__form__section.form--user-profile__section__sub-section.r__form--user-profile__section__sub-section
    input.form--user-profile__section__sub-section__input.r__form--user-profile__section__sub-section__input#currentPassword(type="password" name="currentPassword" placeholder="Current Password")
    label.form--user-profile__section__sub-section__label.r__form--user-profile__section__sub-section__label#currentPasswordLabell(for="currentPassword") Current Password
  section.form__section.r__form__section.form--user-profile__section__sub-section.r__form--user-profile__section__sub-section
    input.form--user-profile__section__sub-section__input.r__form--user-profile__section__sub-section__input#newPassword(type="password" name="newPassword" placeholder="New Password")
    label.form--user-profile__section__sub-section__label.r__form--user-profile__section__sub-section__label#newPasswordLabell(for="newPassword") New Password
  section.form__section.r__form__section.form--user-profile__section__sub-section.r__form--user-profile__section__sub-section
    input.form--user-profile__section__sub-section__input.r__form--user-profile__section__sub-section__input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="New Password")
    label.form--user-profile__section__sub-section__label.r__form--user-profile__section__sub-section__label#newPasswordConfirmedLabell(for="newPasswordConfirmed") Confirm New Password
  section.form__section.r__form__section.form--user-profile__section__sub-section.r__form--user-profile__section__sub-section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="submit") Update
  section.form__section.r__form__section.form--user-profile__section.r__form--user-profile__section
    button.button.r__button.button--small.r__button--small.button--small-transparent.r__button--small-transparent(type="button")
      i.fas.fa-key.button--small-transparent--icon.r__button--small-transparent--icon  
      p.button--small-transparent--text.r__button--small-transparent--text 2-Factor Auth Setup