form.user-profile-form.r__user-profile-form
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__section__button__password-button.r__user-profile-form__section__button__password-button(type="button")
      i.fas.fa-key.user-profile-form__section__button__password-button--icon.r__user-profile-form__section__button__password-button--icon  
      p.user-profile-form__section__button__password-button--text.r__user-profile-form__section__button__password-button--text Change Password
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#currentPassword(type="password" name="currentPassword" placeholder="Current Password")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#currentPasswordLabell(for="currentPassword") Current Password
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newPassword(type="password" name="newPassword" placeholder="New Password")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newPasswordLabell(for="newPassword") New Password
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    input.user-profile-form__section__sub-section__input.r__user-profile-form__section__sub-input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="New Password")
    label.user-profile-form__section__sub-section__label.r__user-profile-form__section__sub-label#newPasswordConfirmedLabell(for="newPasswordConfirmed") Confirm New Password
  section.user-profile-form__section__sub-section.r__user-profile-form__section__sub-section
    button.user-profile-form__section__sub-section__button.r__user-profile-form__section__sub-section__button(type="submit") Update
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__section__button__password-button.r__user-profile-form__section__button__password-button(type="button")
      i.fas.fa-key.user-profile-form__section__button__password-button--icon.r__user-profile-form__section__button__password-button--icon  
      p.user-profile-form__section__button__password-button--text.r__user-profile-form__section__button__password-button--text 2-Factor Auth Setup