form.user-profile-form.r__user-profile-form
  section.user-profile-form__section.r__user-profile-form__section 
    input.user-profile-form__section__input.r__user-profile-form__section__input#firstname(type="text" name="firstname" placeholder="First Name" value=`${data.user.firstname}`)
    label.user-profile-form__section__label.r__user-profile-form__section__label#firstnameLabel(for="firstname") First Name
  section.user-profile-form__section.r__user-profile-form__section
    input.user-profile-form__section__input.r__user-profile-form__section__input#lastname(type="text" name="lastname" placeholder="Last Name" value=`${data.user.lastname}`)
    label.user-profile-form__section__label.r__user-profile-form__section__label#lastnameLabel(for="lastname") Last Name
  section.user-profile-form__section.r__user-profile-form__section
    input.user-profile-form__section__input.r__user-profile-form__section__input#username(type="text" name="username" placeholder="Username" value=`${data.user.username}`)
    label.user-profile-form__section__label.r__user-profile-form__section__label#usernameLabel(for="username") Username
  section.user-profile-form__section.r__user-profile-form__section.switch-section.r__switch-section 
    label.user-profile-form__section__label.r__user-profile-form__section__label(for="latterDaySaint") Latter Day Saint
    if !data.user.latterDaySaint
      .user-profile-form__section__input-container--latter-day-saint.r__user-profile-form__section__input-container--latter-day-saint 
        .user-profile-form__section__input--latter-day-saint.r__user-profile-form__section__input--latter-day-saint
          .user-profile-form__section__input--latter-day-saint__switch.r__user-profile-form__section__input--latter-day-saint__switch 
          p.user-profile-form__section__input--latter-day-saint__text--NO.r__user-profile-form__section__input--latter-day-saint__text--NO NO
          p.user-profile-form__section__input--latter-day-saint__text--YES.r__user-profile-form__section__input--latter-day-saint__text--YES YES
    else 
      .user-profile-form__section__input-container--latter-day-saint.r__user-profile-form__section__input-container--latter-day-saint 
        .user-profile-form__section__input--latter-day-saint.r__user-profile-form__section__input--latter-day-saint.user-profile-form__section__input--latter-day-saint--switched.r__user-profile-form__section__input--latter-day-saint--switched
          .user-profile-form__section__input--latter-day-saint__switch.r__user-profile-form__section__input--latter-day-saint__switch 
          p.user-profile-form__section__input--latter-day-saint__text--NO.r__user-profile-form__section__input--latter-day-saint__text--NO NO
          p.user-profile-form__section__input--latter-day-saint__text--YES.r__user-profile-form__section__input--latter-day-saint__text--YES YES
  section.user-profile-form__section.r__user-profile-form__section
    button.user-profile-form__button.r__user-profile-form__button(type="submit") Update