section.create-budget-form__form-section.r__create-budget-form__form-section.create-budget-form-question--full-page__goals
  header.create-budget-form__sub-header__goals 
    button.create-budget-form__sub-header__goals--previous-category(type="button") Previous Category 
    p.create-budget-form__sub-header__goals--text Setting Category Goals: Housing
    button.create-budget-form__sub-header__goals--next-category(type="button")  Next Category
  section.create-budget-form__goals-display 
    section.create-budget-form__goals-display__category-container 
      i.fas.fa-home.create-budget-form__goals-display__category-container--icon
      p.create-budget-form__goals-display__category-container--text Housing
    section.create-budget-form__goals-display__total-container 
      h2.create-budget-form__goals-display__total-container-title Total
      p.create-budget-form__goals-display__total-container-total= `$${50}`
  section.create-budget-form__goals-sub-category-display 
    header.create-budget-form__goals-sub-category-display__header 
      p.create-budget-form__goals-sub-category-display__header--text Sub Category Goals
    section.create-budget-form__goals-sub-category-display__input-group
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  
      .create-budget-form__goals-sub-category-display__input-group__input-container  
        label.create-budget-form__goals-sub-category-display__input-group__input-container--label Category
        input.create-budget-form__goals-sub-category-display__input-group__input-container--input(type="number" placeholder="$0.00")  