div.form-container.r__form-container.column_1-24.row_2-17
  form.signup-form.r__signup-form(action="/users/signup" method="POST")
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#firstname(type="text" name="firstname" placeholder="First Name" pattern="^[A-Za-z]*$" required)
      label.signup-form__form-section__label#first-name-label(for="firstname") Please Enter Your First Name
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input#lastname(type="text" name="lastname" placeholder="Last Name" pattern="^[A-Za-z]*$" required)
      label.signup-form__form-section__label#last-name-label(for="lastname") Please Enter Your Last Name
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input#username(type="text" name="username" placeholder="Username" pattern="^[A-Z][A-Za-z0-9]*$" required)
      label.signup-form__form-section__label#user-name-label(for="username") Please Enter Your Username
    section.signup-form__form-section--message.r__signup-form__form-section--message
      div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
      button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Continue
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#email(type="email" name="email" placeholder="Email" required)
      label.signup-form__form-section__label#email-label(for="email") Please Enter Your Email
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input#emailConfirmed(type="email" name="emailConfirmed" placeholder="Repeat Email" required)
      label.signup-form__form-section__label#repeat-email-label(for="emailConfirmed") Please Repeat Your Email
    section.signup-form__form-section--message.r__signup-form__form-section--message
      div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
      button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Continue
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#password(type="password" name="password" placeholder="Password" required)
      label.signup-form__form-section__label#password-label(for="password") Please Enter Your Password
    section.signup-form__form-section.r__signup-form__form-section
      input.signup-form__form-section__input.signup-form__form-section__input#passwordConfirmed(type="password" name="passwordConfirmed" placeholder="Repeat Password" required)
      label.signup-form__form-section__label#repeat-password-label(for="passwordConfirmed") Please Repeat Your Password
    section.signup-form__form-section--message.r__signup-form__form-section--message
      div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
      button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Submit
    p.form-page-number 1 / 3