section.user-profile-container.r__user-profile-container.column_1-20.row_1-16
  i.fas.fa-window-close.user-profile-container__close.r__user-profile-container__close
  header.user-profile-container__header.r__user-profile-container__header 
    p.user-profile-container__header__text.r__user-profile-container__header__text Personal Information 
  section.user-profile-container__form-container.r__user-profile-container__form-container
    include _Personal-Information
    include _Communications
    include _Password-Management
    include _Account-Management