section.user-profile-section.r__user-profile-section.column_1-20.row_1-16
  i.fas.fa-window-close.user-profile-closure-icon.r__user-profile-closure-icon
  header.user-profile-section__header.r__user-profile-section__header 
    p.user-profile-section__header__text.r__user-profile-section__header__text Personal Information 
  section.form-container.r__form-container.form-container--user-profile.r__form-container--user-profile
    include _Personal-Information
    include _Communications
    include _Password-Management
    include _Account-Management