doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]>      <html class="no-js"> <!--<![endif]
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='shortcut icon' href='/KingRichard_FavIcon.ico' type='image/x-icon')
    title #{title}
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/DIST/CSS/kingrichard.css')
    script(type='module' src='/DIST/Bundle.js' defer)
    script(src="/reload/reload.js")
  body
    //
      [if lt IE 7]>
      <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your
      experience.
      </p>
      <![endif]
    block App-Content
      section.master-grid-container.r__master-grid-container
        .logo-container.r__logo-container.column_9-7.row_4-8 
          img.logo-image.r__logo-image(src="/KingRichard-Logo.svg")
          p.logo-text.r__logo-text King Richard
        .button-container.r__button-container.column_9-7.row_12-2
          button.button.r__button Login
          button.button.r__button Signup
        h2.slogan.r__slogan.column_9-7.row_14-2 Budget Like Royalty
        include Forms/Login/_Login-Form
        include Forms/Signup/_Signup-Form
        include Forms/Forgot-Password/_Forgotten-Password-Form
        block Unique-Content