doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]>      <html class="no-js"> <!--<![endif]
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='shortcut icon' href='/KingRichard_FavIcon.ico' type='image/x-icon')
    title #{title}
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/DIST/CSS/kingrichard.css')
    script(type='module' src='/DIST/Bundle.js' defer)
  body
    //
      [if lt IE 7]>
      <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your
      experience.
      </p>
      <![endif]
    section.master-flex-container.r__master-flex-container
      section.master-grid-container.r__master-grid-container
        nav.navigation.column_1-24.row_1-1.r__navigation
          div.logo-container.r__logo-container
            img.logo-container__logo.r__logo-container__logo(src="/KingRichard-Logo-White.svg")
            p.logo-container__logo-text.r__logo-container__logo-text King Richard
          block Navigation
            ul.navigation__landing-navigation.r__navigation__landing-navigation
              button.navigation__landing-navigation__login.r__navigation__landing-navigation__login
                i.fas.fa-user-circle.navigation__landing-navigation__login-icon.r__navigation__landing-navigation__login-icon
                p.navigation__landing-navigation__login-text.r__navigation__landing-navigation__login-text Login
              button.navigation__landing-navigation__signup.r__navigation__landing-navigation__signup
                i.fas.fa-user-circle.navigation__landing-navigation__signup-icon.r__navigation__landing-navigation__signup-icon
                p.navigation__landing-navigation__signup-text.r__navigation__landing-navigation__signup-text Signup
        img.background-logo.r__background-logo.column_3-10.row_4-8(src="/KingRichard-Logo.svg")
        section.background-header.r__background-header.column_10-14.row_9-3
          header.background-header__main.r__background-header__main King Richard
          p.background-header__sub.r__background-header__sub Budget Like Royalty
        block Unique-Content
          div.form-container.r__form-container.column_1-24.row_2-17
            i.fas.fa-window-close#closeForgottenForm
            form.forgotten-form.r__forgotten-form(action="/users/forgotPassword" method="POST")
              section.forgotten-form__form-section.r__forgotten-form__form-section
                input.forgotten-form__form-section__input.forgotten-form__form-section__input--rounded-top#forgottenEmail(type="email" name="forgottenEmail" placeholder="Email"  required)
                label.forgotten-form__form-section__label#emailforgotorgotLabel(for="forgottenEmail") Please Enter Your Email
              section.forgotten-form__form-section--message.r__forgotten-form__form-section--message
                div.forgotten-form__form-section--message__message-container.r__forgotten-form__form-section--message__message-container Error Response
                button.forgotten-form__form-section--message__form-button.r__forgotten-form__form-section--message__form-button#forgottenEmailSubmit(type="submit") Submit Email
          div.form-container.r__form-container.column_1-24.row_2-17
            form.login-form.r__login-form(action="/App" method="POST")
              section.login-form__form-section.r__login-form__form-section
                input.login-form__form-section__input.login-form__form-section__input--rounded-top#loginUsername(type="text" name="loginUsername" placeholder="Username"  required)
                label.login-form__form-section__label#username-label(for="loginUsername") Please Enter Your Username
              section.login-form__form-section.r__login-form__form-section
                input.login-form__form-section__input#loginPassword(type="password" name="loginPassword" placeholder="Password" required)
                label.login-form__form-section__label#password-label(for="loginPassword") Please Enter Your Password
              section.login-form__form-section--message.r__login-form__form-section--message
                div.login-form__form-section--message__message-container.r__login-form__form-section--message__message-container Error Response
                button.login-form__form-section--message__form-button.r__login-form__form-section--message__form-button#loginButtonOne(type="submit") Login
                button.forgotten-form__form-section--message__form-button.r__forgotten-form__form-section--message__form-button#loginButtonTwo(type="button") Forgot Username or Password
          div.form-container.r__form-container.column_1-24.row_2-17
            form.signup-form.r__signup-form(action="/users/signup" method="POST")
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#firstname(type="text" name="firstname" placeholder="First Name" pattern="^[A-Za-z]*$" required)
                label.signup-form__form-section__label#first-name-label(for="firstname") Please Enter Your First Name
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input#lastname(type="text" name="lastname" placeholder="Last Name" pattern="^[A-Za-z]*$" required)
                label.signup-form__form-section__label#last-name-label(for="lastname") Please Enter Your Last Name
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input#username(type="text" name="username" placeholder="Username" pattern="^[A-Z][A-Za-z0-9]*$" required)
                label.signup-form__form-section__label#user-name-label(for="username") Please Enter Your Username
              section.signup-form__form-section--message.r__signup-form__form-section--message
                div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
                button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Continue
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#email(type="email" name="email" placeholder="Email" required)
                label.signup-form__form-section__label#email-label(for="email") Please Enter Your Email
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input#emailConfirmed(type="email" name="emailConfirmed" placeholder="Repeat Email" required)
                label.signup-form__form-section__label#repeat-email-label(for="emailConfirmed") Please Repeat Your Email
              section.signup-form__form-section--message.r__signup-form__form-section--message
                div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
                button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Continue
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input--rounded-top#password(type="password" name="password" placeholder="Password" required)
                label.signup-form__form-section__label#password-label(for="password") Please Enter Your Password
              section.signup-form__form-section.r__signup-form__form-section
                input.signup-form__form-section__input.signup-form__form-section__input#passwordConfirmed(type="password" name="passwordConfirmed" placeholder="Repeat Password" required)
                label.signup-form__form-section__label#repeat-password-label(for="passwordConfirmed") Please Repeat Your Password
              section.signup-form__form-section--message.r__signup-form__form-section--message
                div.signup-form__form-section--message__message-container.r__signup-form__form-section--message__message-container Error Response
                button.signup-form__form-section--message__form-button.r__signup-form__form-section--message__form-button(type="submit") Submit
              p.form-page-number 1 / 3