extends base
  
include _Navigation-LoggedIn

block Unique-Content
  section.app-background.r__app-background.column_1-24.row_2-17
    section.app-container.r__app-container
      header.app-container__header--landing
        h1.app-container__header--landing__title= `${data.calendar.getGreeting()} ${data.user.firstname} ${data.user.lastname}`
      section.budget-card-container.r__budget-card-container
        i.fas.fa-arrow-alt-circle-left
        div.budget-card-container__cards-container
          section.budget-card--create
            i.fas.fa-plus.budget-card--create__icon
            p.budget-card--create__text Create Budget
        i.fas.fa-arrow-alt-circle-right
  include _User-Profile
  include _Create-Budget-Form
  
          //- section.user-profile-card__user-info__row-info
          //-   input.user-profile-card__user-info__row-info--text(placeholder=`(000) 000 - 000` type='tel' pattern="\([0-9]{3}\) [0-9]{3} \- [0-9]{4}") 
          //- button.user-profile-card__user-info__row__button
          //-   i.fas.fa-user-edit.user-profile-card__user-info__row__button--icon
          //-   p.user-profile-card__user-info__row__button--text Phone Number
          //- section.user-profile-card__user-info__row-info
          //-   input.user-profile-card__user-info__row-info--text(placeholder=`(000) 000 - 000` type='tel' pattern="\([0-9]{3}\) [0-9]{3} \- [0-9]{4}") 

