extends base

block Unique-Content
  div.form-container--password-reset.r__form-container--password-reset.column_1-24.row_2-17
    form.password-reset-form.r__password-reset-form(action=`${data.url}` method="POST")
      section.password-reset-form__form-section.r__password-reset-form__form-section
        input.password-reset-form__form-section__input.password-reset-form__form-section__input--rounded-top#password(type="password" name="password" placeholder="New Password"  required)
        label.password-reset-form__form-section__label#asswordLabel(for="password") Please Enter Your Email
      section.password-reset-form__form-section.r__password-reset-form__form-section
        input.password-reset-form__form-section__input.password-reset-form__form-section__input#passwordConfirmed(type="password" name="passwordConfirmed" placeholder="New Password Confirmed"  required)
        label.password-reset-form__form-section__label#passwordConfirmedLabel(for="passwordConfirmed") Please Confirm Your New Password
      section.password-reset-form__form-section--message.r__password-reset-form__form-section--message
        div.password-reset-form__form-section--message__message-container.r__password-reset-form__form-section--message__message-container Error Response
        button.password-reset-form__form-section--message__form-button.r__password-reset-form__form-section--message__form-button#passwordSubmit(type="submit") Submit Password