extends base

block Unique-Content
  div.form-container.r__form-container.column_1-24.row_1-18
    i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
    form.form.r__form(action=`${data.url}` method="POST")
      header.form__header.r__form__header 
        p.form__header__title.r__form__header__title Reset Password 
      section.form__section.r__form__section
        input.form__input.r__form__input#newPassword(type="password" name="newPassword" placeholder="PASSWORD" required)
        label.form__label.r__form__label(for="newPassword") Please Provide A New Password
      section.form__section.r__form__section
        input.form__input.r__form__input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="PASSWORD" required)
        label.form__label.r__form__label(for="newPasswordConfirmed") Please Confirm Your New Password
      section.form__section.r__form__section
        button.button.r__button.button--small.r__button--small Submit