extends base

block Unique-Content
  div.form-container.r__form-container.form-container--full-page.r__form-container--full-page.column_1-24.row_1-18
    i.fas.fa-window-close.form-close-icon
    form.reset-password-form.r__reset-password-form(action=`${data.url}` method="POST")
      header.reset-password-form__header.r__reset-password-form__header 
        p.reset-password-form__header__title.r__reset-password-form__header__title Reset Password 
      section.reset-password-form__section.r__reset-password-form__section 
        input.reset-password-form__section__input.r__reset-password-form__section__input#newPassword(type="password" name="newPassword" placeholder="PASSWORD" required)
        label.reset-password-form__section__label.r__reset-password-form__section__label(for="newPassword") Please Provide A New Password
      section.reset-password-form__section.r__reset-password-form__section 
        input.reset-password-form__section__input.r__reset-password-form__section__input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="PASSWORD" required)
        label.reset-password-form__section__label.r__reset-password-form__section__label(for="newPasswordConfirmed") Please Confirm Your New Password
      section.reset-password-form__section.r__reset-password-form__section 
        button.reset-password-form__section__button.r__reset-password-form__section__button Submit