form.enter-income-form.r__enter-income-form(method="POST" action=`/users/${data.user.id}/budgets/${data.budget.id}`) 
  section.form-row.r__form-row.income-row.r__income-row
    section.form-row__section.r__form-row__section 
      input.form-input.r__form-input#incomeDate(type="date")
      label.form-label.r__form-label(for="incomeDate") Date Received
    section.form-row__section.r__form-row__section 
      input.form-input.r__form-input#receivedFrom(type="text" placeholder="Received From" name="receivedFrom")
      label.form-label.r__form-label(for="receivedFrom") Received From
    section.form-row__section.r__form-row__section 
      if data.user.latterDaySaint
        label.form-label.r__form-label 
          p.form-label__text.r__form-label__text Tithed?
          .form-input--tithing.r__form-input--tithing 
            .form-input--tithing__switch.r__form-input--tithing__switch 
            p.form-input--tithing__text-no.r__form-input--tithing__text-no NO
            p.form-input--tithing__text-yes.r__form-input--tithing__text-yes YES
  section.form-row.r__form-row.income-row.r__income-row
    section.form-row__section.r__form-row__section 
      input.form-input.r__form-input#grossPay(type="number" min="0" placeholder="$0.00")
      label.form-label.r__form-label(for="grossPay") Gross Pay
    section.form-row__section.r__form-row__section 
      input.form-input.r__form-input#netPay(type="number" min="0" placeholder="$0.00")
      label.form-label.r__form-label(for="netPay") Net Pay
  section.early-income-view.r__early-income-view 
    section.early-income-view__investment.r__early-income-view__investment
      h3.early-income-view__investment__header.r__early-income-view__investment__header Investment Account
      p.early-income-view__investment__amount.r__early-income-view__investment__amount= `$0.00`
    section.early-income-view__savings.r__early-income-view__savings
      h3.early-income-view__savings__header.r__early-income-view__savings__header Savings Account
      p.early-income-view__savings__amount.r__early-income-view__savings__amount= `$0.00`
    section.early-income-view__un-allocated.r__early-income-view__un-allocated
      h3.early-income-view__un-allocated__header.r__early-income-view__un-allocated__header Total Un-Allocated
      p.early-income-view__un-allocated__amount.r__early-income-view__un-allocated__amount= `$0.00`