section.form__section.r__form__section
  input.form__input--small.r__form__input--small#budgetName(type="text" name="budgetName" placeholder="BUDGET NAME" pattern="^[A-Za-z\ \'\-\.\`\_\(\)\!0-9][^*\+]+$" required)
  label.form__label--small-budget.r__form__label--small-budget(for="budgetName") What will be the name of your budget?