nav.budget-navigation.r__budget-navigation
  ul.budget-navigation__link-list.r__budget-navigation__link-list
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Budget Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Edit Budget
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Income Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Account Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link Invite Users