nav.budget-navigation.r__budget-navigation
  ul.budget-navigation__link-list.r__budget-navigation__link-list
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`./Dashboard`) Budget Dashboard
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`./Budget-Management`) Budget Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      button.budget-navigation__link-list__list-item__link-button.r__budget-navigation__link-list__list-item__link-button Edit Budget
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Edit-Category-Goals`) Edit Category Goals
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Manage-Categories`) Manage Categories
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      button.budget-navigation__link-list__list-item__link-button.r__budget-navigation__link-list__list-item__link-button Income Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Allocate-Income`) Allocate Income
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      button.budget-navigation__link-list__list-item__link-button.r__budget-navigation__link-list__list-item__link-button Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Transaction-Planner`) Transaction Planner
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Investment-Planner`) Investment Planner
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Debt-Manager`) Debt Manager
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`./Recent-Transactions`) Recent Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`./Account-Management`) Account Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`./Invite-Users`) Invite Users