nav.navigation.r__navigation.closed
  ul.navigation__link-list.r__navigation__link-list
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      a.navigation__link-list__list-item__link.r__navigation__link-list__list-item__link(href=`./Dashboard`) Budget Dashboard
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      a.navigation__link-list__list-item__link.r__navigation__link-list__list-item__link(href=`./Budget-Management`) Budget Management
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      button.navigation__link-list__list-item__link-button.r__navigation__link-list__list-item__link-button Edit Budget
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Edit-Category-Goals`) Edit Category Goals
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Manage-Categories`) Manage Categories
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      button.navigation__link-list__list-item__link-button.r__navigation__link-list__list-item__link-button Income Management
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Allocate-Income`) Allocate Income
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      button.navigation__link-list__list-item__link-button.r__navigation__link-list__list-item__link-button Transactions
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Transaction-Planner`) Transaction Planner
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Investment-Planner`) Investment Planner
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Debt-Manager`) Debt Manager
      section.navigation__link-list__list-item__sub-link-container.r__navigation__link-list__list-item__sub-link-container
        a.navigation__link-list__list-item__sub-link-container__sub-link.r__navigation__link-list__list-item__sub-link-container__sub-link(href=`./Recent-Transactions`) Recent Transactions
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      a.navigation__link-list__list-item__link.r__navigation__link-list__list-item__link(href=`./Account-Management`) Account Management
    li.navigation__link-list__list-item.r__navigation__link-list__list-item 
      a.navigation__link-list__list-item__link.r__navigation__link-list__list-item__link(href=`./Invite-Users`) Invite Users