nav.budget-navigation.r__budget-navigation
  ul.budget-navigation__link-list.r__budget-navigation__link-list
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`./Dashboard`) Budget Dashboard
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Budget Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      button.budget-navigation__link-list__list-item__link-button.r__budget-navigation__link-list__list-item__link-button Edit Budget
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Edit Category Goals
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Manage Categories
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Income Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Allocate Income
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Transaction Planner
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Investment Planner
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Debt Manager
      section.budget-navigation__link-list__list-item__sub-link-container.r__budget-navigation__link-list__list-item__sub-link-container
        a.budget-navigation__link-list__list-item__sub-link-container__sub-link.r__budget-navigation__link-list__list-item__sub-link-container__sub-link(href=`#`) Recent Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Account Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Invite Users