nav.budget-navigation.r__budget-navigation
  ul.budget-navigation__link-list.r__budget-navigation__link-list
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Budget Dashboard
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Budget Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Edit Budget
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Income Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Transactions
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Account Management
    li.budget-navigation__link-list__list-item.r__budget-navigation__link-list__list-item 
      a.budget-navigation__link-list__list-item__link.r__budget-navigation__link-list__list-item__link(href=`#`) Invite Users