section.budget-container.r__budget-container.column_1-20.row_1-16
  include _budget-navigation
  section.budget-container__navigation-button-container.r__budget-container__navigation-button-container
    button.budget-container__navigation-button-container__button.r__budget-container__navigation-button-container__button(type="button")
      .budget-container__navigation-button-container__button__icon.r__budget-container__navigation-button-container__button__icon  
    p.budget-container__navigation-button-container__text.r__budget-container__navigation-button-container #{data.budget.name}
  section.budget-container__dassboard.r__budget-container__dashboard 
    include _budget-dashboard