section.form-container.r__form-container.form-container--budget-creation.r__form-container--budget-creation.column_1-20.row_1-16
  i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
  form.form.r__form.form--budget-creation.r__form--budget-creation
    header.form--budget-creation__header.r__form--budget-creation__header 
      p.form--budget-creation__header__title.r__form--budget-creation__header__title Create Budget
    include Page-One/_Page-1
    include Page-Two/_Page-2
    include Page-Three/_Page-3
    include Page-Four/_Page-4
    include Page-Five/_Page-5
    include Page-Six/_Page-6
    include Page-Seven/_Page-7
    include Page-Eight/_Page-8
    section.form__section.r__form__section.form--budget-creation__section.r__form--budget-creation__section.form--budget-creation__section__page-display.r__form--budget-creation__section__page-display
      p.form--budget-creation__section__page-display__number.r__form--budget-creation__section__page-display__number Page 1 / 7
      button.button.r__button.button--small.r__button--small Continue