section.form-container--full-width.r__form-container--full-width.column_1-20.row_1-16.closed
  i.fas.fa-window-close.form-closure-icon--budget-creation.r__form-closure-icon--budget-creation
  form.form--full-width.r__form--full-width
    header.form__header.r__form__header
      p.form__header__title.r__form__header__title Create Budget
    include Page-One/_Page-1
    include Page-Two/_Page-2
    include Page-Three/_Page-3
    include Page-Four/_Page-4
    include Page-Five/_Page-5
    include Page-Six/_Page-6
    include Page-Seven/_Page-7
    include Page-Eight/_Page-8
    section.form__section--page-number-display.r__form__section--page-number-display
      p.form__section--page-number-display__number.r__form__section--page-number-display__number Page 1 / 7
      button.button--small.r__button--small Continue