div.form-container.r__form-container.column_1-24.row_1-18.closed
  i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
  form.form.r__form(action="/App/Users/ForgotPassword" method="POST")
    header.form__header.r__form__header 
      p.form__header__title--medium.r__form__header__title--medium Forgot Username or Password? 
    section.form__section.r__form__section 
      input.form__input.r__form__input#forgottenEmail(type="email" name="forgottenEmail" placeholder="EMAIL ADDRESS" required)
      label.form__label.r__form__label(for="forgottenEmail") Please Provide Your Email Address
    section.form__section.r__form__section 
      button.button.r__button.button--small.r__button--small Submit