div.form-container.r__form-container.form-container--full-page.r__form-container--full-page.column_1-24.row_1-18
  i.fas.fa-window-close.form-close-icon
  form.forgotten-form.r__forgotten-form(action="/users/forgotPassword" method="POST")
    header.forgotten-form__header.r__forgotten-form__header 
      p.forgotten-form__header__title--medium.r__forgotten-form__header__title--medium Forgot Username or Password? 
    section.forgotten-form__section.r__forgotten-form__section 
      input.forgotten-form__section__input.r__forgotten-form__section__input#forgottenEmail(type="email" name="forgottenEmail" placeholder="EMAIL ADDRESS" required)
      label.forgotten-form__section__label.r__forgotten-form__section__label(for="forgottenEmail") Please Provide Your Email Address
    section.forgotten-form__section.r__forgotten-form__section 
      button.forgotten-form__section__button.r__forgotten-form__section__button Submit