div.form-container.r__form-container.form-container--full-page.r__form-container--full-page.column_1-24.row_1-18
  i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
  form.form.r__form.forgotten-form.r__forgotten-form(action="/users/forgotPassword" method="POST")
    header.form__header.r__form__header.forgotten-form__header.r__forgotten-form__header 
      p.form__header__title.r__form__header__title.form__header__title--medium.r__form__header__title--medium.forgotten-form__header__title--medium.r__forgotten-form__header__title--medium Forgot Username or Password? 
    section.form__section.r__form__section.forgotten-form__section.r__forgotten-form__section 
      input.form__input.r__form__input.forgotten-form__section__input.r__forgotten-form__section__input#forgottenEmail(type="email" name="forgottenEmail" placeholder="EMAIL ADDRESS" required)
      label.form__label.r__form__label.forgotten-form__section__label.r__forgotten-form__section__label(for="forgottenEmail") Please Provide Your Email Address
    section.form__section.r__form__section.forgotten-form__section.r__forgotten-form__section 
      button.button.r__button.button--small.r__button--small Submit