div.form-container.r__form-container.column_1-24.row_1-18
  i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
  form.form.r__form
    header.form__header.r__form__header
      p.form__header__title.r__form__header__title Signup 
    section.form__page.r__form__page
      section.form__section.r__form__section
        input.form__input.r__form__input#firstname(type="text" name="firstname" placeholder="FIRST NAME" required)
        label.form__label.r__form__labe(for="firstname") Please Provide Your First Name
      section.form__section.r__form__section 
        input.form__input.r__form__input#lastname(type="text" name="lastname" placeholder="LAST NAME" required)
        label.form__label.r__form__labe(for="lastname") Please Provide Your Last Name
    section.form__page.r__form__page
      section.form__section.r__form__section
        input.form__input.r__form__input#username(type="text" name="username" placeholder="USERNAME" required)
        label.form__label.r__form__labe(for="username") What will your Username Be?
      section.form__section--switch.r__form__section--switch
        label.form__label--latter-day-saint.r__form__label--latter-day-saint(for="latterDaySaint") Are You A Latter Day Saint?
        .form__input-container.r__form__input-container
          .form__input--latter-day-saint.r__form__input--latter-day-saint
            .form__input--latter-day-saint__switch.r__form__input--latter-day-saint__switch
            p.form__input--latter-day-saint__text.r__form__input--latter-day-saint__text NO
            p.form__input--latter-day-saint__text.r__form__input--latter-day-saint__text.closed YES
    section.form__page.r__form__page
      section.form__section.r__form__section 
        input.form__input.r__form__input#email(type="email" name="email" placeholder="EMAIL ADDRESS" required)
        label.form__label.r__form__label(for="email") Please Provide Your Email Address
      section.form__section.r__form__section 
        input.form__input.r__form__input#emailConfirmed(type="email" name="emailConfirmed" placeholder="EMAIL ADDRESS" required)
        label.form__label.r__form__label(for="emailConfirmed") Please Confirm Your Email Address
    section.form__page.r__form__page
      section.form__section.r__form__section 
        input.form__input.r__form__input#password(type="password" name="password" placeholder="PASSWORD" required)
        label.form__label.r__form__label(for="password") Please Provide Your Password
      section.form__section.r__form__section 
        input.form__input.r__form__input#passwordConfirmed(type="password" name="passwordConfirmed" placeholder="PASSWORD" required)
        label.form__label.r__form__label(for="passwordConfirmed") Please Confirm Your Password
    section.form__section--page.r__form__section--page
      p.form__page-number.r__form__page-number= `Page 1 / 4`
      button.button.r__button.button--small.r__button--small(type="button") Submit