mixin dashboardAccountOverview(icon, text, accountTotal) 
  section.container--extra-small.r__container--extra-small
    header.container--extra-small__header.r__container--extra-small__header
      i.fas.container--extra-small__header__icon.r__container--extra-small__header__icon(class=`fa-${icon}`)
      p.container--extra-small__header__text.r__container--extra-small__header__text=`${text}`
    section.container--extra-small__content.r__container--extra-small__content
      p.container--extra-small__content__account-total.r__container--extra-small__content__account-total=`${accountTotal}`
+dashboardAccountOverview(`piggy-bank`, `Bank Account`, `$0`)
+dashboardAccountOverview(`hand-holding-usd`, `Debt`, `$0`)
+dashboardAccountOverview(`dollar-sign`, `Net Value`, `$0`)

  - const money = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2 })
  - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
section.container--small.r__container--small
  header.container--small__header.r__container--small__header
    i.fas.fa-money-bill-alt.container--small__header__icon.r__container--small__header__icon
    p.container--small__header__text.r__container--small__header__text Enter Income
    button.button--small-container-header.r__button--small-container-header
      p.container--small__header__button__text.r__container--small__header__button__text Submit
  section.container--small__content.r__container--small__content
    include ./../Income/_Enter-Income
section.container--small.r__container--small
  header.container--small__header.r__container--small__header
    i.fas.fa-money-check-alt.container--small__header__icon.r__container--small__header__icon
    p.container--small__header__text.r__container--small__header__text Enter Transaction
    button.button--small-container-header.r__button--small-container-header
      p.container--small__header__button__text.r__container--small__header__button__text Submit
  section.container--small__content--transaction.r__container--small__content--transaction
    include ./../Transactions/_Enter-Transaction
  section.container--small__transaction-total.r__container--small__transaction-total 
    h3.container--small__transaction-total__heading.r__container--small__transaction-total__heading Total Spent: 
    p.container--small__transaction-total__amount.r__container--small__transaction-total__amount= `${money.format(0)}`
include ./../_upcoming-bills
include ./../_monthly-budget

      //- I will add the actual account numbers needed with a function to set up the budget correctly EVERY time the dashboard is opened.