section.budget-creation-form__page__section.r__budget-creation-form__page__section
  section.budget-creation-form__page__section__main-category-container.r__budget-creation-form__page__section__main-category-container
    section.budget-creation-form__page__section__main-category-container__create-main-category.r__budget-creation-form__page__section__main-category-container__create-main-category 
      i.fas.fa-plus.budget-creation-form__page__section__main-category-container__create-main-category__icon.r__.budget-creation-form__page__section__main-category-container__create-main-category__icon
      p.budget-creation-form__page__section__main-category-container__create-main-category__text.r__.budget-creation-form__page__section__main-category-container__create-main-category__text Create
    section.budget-creation-form__page__section__main-category-container__create-main-category__icons-container.r__budget-creation-form__page__section__main-category-container__create-main-category__icons-container
    section.budget-creation-form__page__section__set-main-category-title-container.r__budget-creation-form__page__section__set-main-category-title-container
      input.budget-creation-form__page__section__set-main-category-title-container__input.r__budget-creation-form__page__section__set-main-category-title-container__input(type="text")
      button.budget-creation-form__page__section__set-main-category-title-container__button.r__budget-creation-form__page__section__set-main-category-title-container__button(type="button") Create Main Category
      button.budget-creation-form__page__section__set-main-category-title-container__button.r__budget-creation-form__page__section__set-main-category-title-container__button(type="button") Close