section.form__section.r__form__section
  section.budget-creation-container--main-categories.r__budget-creation-container--main-categories
    section.button--medium-square.r__button--medium-square.open 
      i.fas.fa-plus.button--medium-square__icon.r__.button--medium-square__icon
      p.button--medium-square__text.r__.button--medium-square__text Create
    section.icons-container.r__icons-container.closed
    section.form__section--main-category-title.r__form__section--main-category-title.closed
      input.form__input--main-category-title.r__form__input--main-category-title(type="text" placeholder=`Enter Main Category Title` pattern="^[A-Za-z0-9\ \'\-]+$")
      button.button--small-create-main-category.r__button--small-create-main-category.closed(type="button") Create Main Category
      button.button--small-create-main-category.r__button--small-create-main-category.closed(type="button") Close