section.budget-creation-form__page__section.r__budget-creation-form__page__section.tithing-section.r__tithing-section
  input.budget-creation-form__page__section__input.r__budget-creation-form__page__section__input#grossOption(type="checkbox")
  label.budget-creation-form__page__section__label.r__budget-creation-form__page__section__label#grossOptionLabel(for="grossOption") Gross
  input.budget-creation-form__page__section__input.r__budget-creation-form__page__section__input#netOption(type="checkbox")
  label.budget-creation-form__page__section__label.r__budget-creation-form__page__section__label#netOptionLabel(for="netOption") Net
  input.budget-creation-form__page__section__input.r__budget-creation-form__page__section__input#surplusOption(type="checkbox")
  label.budget-creation-form__page__section__label.r__budget-creation-form__page__section__label#surplusOptionLabel(for="surplusOption") Surplus