@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

/*
I was thinking of iterating through the objects that were created.
    //////////////////////////////////
    /// To Do List:

    MUSTDO :  ** TOP PRIORITY **
    
    
    //////////////////////////////////
    /// Glitches To Fix

    GLITCH : Budget Navigation Button Needs To Stay WITH The Navigation Itself.


    //////////////////////////////////
    /// Adjustments To Make

    ADJUST : Re-Do Enter Transaction Form To Accommodate For Expense Timing.  This Includes The JavaScript Along With The Styling AND HTML.
    ADJUST : Re-Do Enter Transaction Form To Accommodate For Expense AND Savings Marking Transaction Item As Need Or Surplus.  This Includes The JavaScript Along With The Styling AND HTML.
    ADJUST : Right now, things work fairly well with regards to the budget and such, but the main thing to adjust is the structure of the code.  Especially regarding the fact that much of the time I use similar structured items in both the budget creation form, as well as throughout the budget.  So, I would love to be able to review each part of the creation phase of the budget along with the Budget Dashboard AND each other part of the budget that has similar structures to help them to actually fit well within the JavaScript.  It is making some aspects of the structuring pugs much more difficult then I feel it should be.

    //////////////////////////////////
    /// Features To Implement

    FEATURE : 

*/

//////////////////////////////////
///  Foundation Settings

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem should be
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  @include SizingItem(relative, 100%, 100vw);
  background-color: $colorOffWhite;
  overflow-x: hidden;
}
