@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

/*
I was thinking of iterating through the objects that were created.
    //////////////////////////////////
    /// To Do List:

    MUSTDO : Finish JavaScript lessons & ALL projects inside the course.  ** TOP PRIORITY **
    MUSTDO : Finish Node.js lessons & ALL projects inside the course.  ** TOP PRIORITY **
    MUSTDO : Implement functionality of my signup form so it does the following: 
      - Validates the input given against the required input.
      - Moves on to the next question if it is not the last, otherwise, submit the form.
      - Make sure it gives the user an error if it is essential.
    MUSTDO : Implement a way for the Login Form & Signup form to show & hide the password.
    MUSTDO : Understand MVC architecture so I can implement that in both my personal website & budget.  Then, I can start with that file architecture from the get go.
    MUSTDO : After Login is validated, I want the person's profile page to load.
    MUSTDO : After a Signup is completed & validated, i want a profile page to be created AND loaded with that user's information.
    
    
    
    //////////////////////////////////
    /// Glitches To Fix

    GLITCH : Form Placeholder Does Not Show In FireFox.
    GLITCH : My Custom Font Purely Me Does Not Get Used In My Site Outside Of Dissenter & My Computer.


    //////////////////////////////////
    /// Adjustments To Make

    ADJUST : Remove Arrow Functions from Methods.
    ADJUST : Refactor Code to make it so functions / methods only use up to 5 parameters max.
    ADJUST : Do not worry about the length of the code if you are chaining methods or something very similar.


    //////////////////////////////////
    /// Features To Implement

    FEATURE : Get form to be fully functional and send an email containing the message to my personal email.  Do so without doing something insecure.
    FEATURE : Allow keyboard arrows to control the 'More About Me' section.
    FEATURE : Allow for the user to go to the end or the beginning after getting to the end of the items. ( All that is left is the 'More About Me' section.

*/

//////////////////////////////////
///  Foundation Settings

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem should be
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  @include SizingItem(relative, 100%, 100vw);
  background-color: $colorDarkestGrey;
  overflow-x: hidden;
}
