@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

/*
I was thinking of iterating through the objects that were created.
    //////////////////////////////////
    /// To Do List:

    MUSTDO :  ** TOP PRIORITY **
    
    
    //////////////////////////////////
    /// Glitches To Fix

    GLITCH : Cannot close create budget form.
    GLITCH : Timings cannot be added to some of the sub categories because the index is incorrect.
    GLITCH : Cannot use enter to create sub categories as it goes first to deleting the main categories.
    GLITCH : 


    //////////////////////////////////
    /// Adjustments To Make

    ADJUST : Eventually, it may be possible to make a 'Budget' Class that gets filled up by the user. --- This will be looked at AFTER the budget works, as I have it working right now for what I need.
    ADJUST : 


    //////////////////////////////////
    /// Features To Implement

    FEATURE : 

*/

//////////////////////////////////
///  Foundation Settings

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem should be
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  @include SizingItem(relative, 100%, 100vw);
  background-color: $colorOffWhite;
  overflow-x: hidden;
}
