@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid-container {
  .app-flex-container {
    .app-viewport.r__app-viewport {
      .budget-container {
        @include SizeAndPositioning(relative, 100%, 100%, flex, row, wrap, space-evenly, center, 0, 0, 0);
        .budget-navigation {
          @include SizeAndPositioning(relative, 100%, 100%, none, column, nowrap, center, center, 0, 0, 0);
          background-color: rgba($primaryColorDark, 0.85);
          opacity: 0;
          transition: opacity 0.5s;
          &__link-list {
            @include SizeAndPositioning(relative, 75%, 50%, flex, column, nowrap, center, center, 0, 0, 0);
            &__list-item {
              @include SizeAndPositioning(relative, 12.5%, 60%, flex, row, nowrap, center, center, 0, 0, 0);
              &:first-of-type {
                margin-top: 0;
              }
              margin: 0.5rem 0;
              &:last-of-type {
                margin-bottom: 0;
              }
              list-style: none;
              &__link {
                @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
                border-radius: 1.5rem;
                border: 0.3rem solid rgba($colorOffWhite, 0.8);
                background-color: rgba($primaryColorDarker, 0.8);
                &:hover {
                  border: 0.3rem solid $colorOffWhite;
                  background-color: $secondaryColor;
                  transition: border 0.5s, background-color 0.5s, color 0.5s;
                }
                &:active {
                  background-color: $tertiaryColor;
                }
              }
            }
          }
          &--visible {
            display: flex;
            opacity: 1;
          }
        }
        &__navigation-button-container {
          @include SizeAndPositioning(absolute, 7rem, 20%, flex, row, nowrap, space-between, center, 0, 0, 0);
          top: 3rem;
          left: 3rem;
          padding: 1rem;
          z-index: 10;
          &__button {
            @include SizeAndPositioning(relative, 0.75rem, 30%, flex, row, nowrap, center, center, 0, 0, 0);
            z-index: 10;
            background-color: rgba($primaryColor, 0.8);
            border-radius: 0.4rem;
            border: none;
            transition: background-color 0.5s, width 0.5s;
            &:before,
            &:after {
              content: '';
              z-index: 10;
              background-color: rgba($primaryColor, 0.8);
              border-radius: 0.4rem;
              border: none;
              left: 0;
            }
            &:before {
              @include SizeAndPositioning(absolute, 0.75rem, 50%, flex, row, nowrap, center, center, 0, -1.5rem, 0);
              transition: background-color 0.5s, width 0.5s, transform 0.5s;
            }
            &:after {
              @include SizeAndPositioning(absolute, 0.75rem, 75%, flex, row, nowrap, center, center, 0, 1.5rem, 0);
              transition: background-color 0.5s, width 0.5s, transform 0.5s;
            }
            &:hover {
              cursor: pointer;
              width: 25%;
              &:before {
                width: 100%;
              }
              &:after {
                width: 100%;
              }
            }
            &--clicked {
              background-color: transparent;
              &:before {
                transform: translate(0.5rem, 0) rotate(45deg);
                background-color: $colorOffWhite;
                width: 90%;
              }
              &:after {
                transform: translate(0.5rem, 0) rotate(-45deg);
                background-color: $colorOffWhite;
                width: 90%;
              }
              &:hover {
                &:before,
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
        &__dashboard {
          @include SizeAndPositioning(relative, min-content, 100%, flex, row, wrap, space-evenly, flex-start, 0, 0, 0);
          padding: 12rem 10rem 10rem;
          .budget-container {
            &--extra-small {
              @include SizeAndPositioning(relative, 22.5rem, 35rem, flex, column, nowrap, space-between, center, 0, 0, 0);
              padding: 0.2rem;
              border: 0.3rem solid $primaryColor;
              border-radius: 0.51rem;
              &__header {
                @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                padding: 0 1.5rem;
                background-color: $primaryColor;
              }
              &__content {
                @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
              }
            }
          }
        }
      }
    }
  }
}
