@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid-container {
  .app-flex-container {
    .app-viewport {
      &__display-container {
        @include SizeAndPositioning(absolute, 100%, 100%, grid, center, center, 0, 0, 0);
        @include gridLayout(100%, 100%, repeat(20, 1fr), repeat(16, 1fr), 0, 0);
        @include gridPlacement(20, 20, 16, 16);
        background-color: rgba($colorOffWhite, 0.9);
        .budget-card-container {
          @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
          background-color: rgba($colorOffWhite, 0.5);
          &__card {
            @include SizeAndPositioning(relative, 100%, 25%, flex, center, center, 0, 0, 0);
            flex-direction: column;
            border: 0.3rem solid rgba($primaryColor, 0.8);
            border-radius: 2.5rem;
            background-color: transparent;
            &__header {
              @include SizeAndPositioning(absolute, 10%, 100%, flex, center, center, 0, 0, 0);
              top: 0;
              border-top-left-radius: 2.1rem;
              border-top-right-radius: 2.1rem;
              background-color: rgba($primaryColor, 0.8);
              &__icon {
                @include SizeAndPositioning(absolute, 3rem, auto, flex, center, center, 0, -50%, 0);
                top: 50%;
                right: 2rem;
                &:hover {
                  cursor: pointer;
                  transition: color 0.5s;
                }
              }
            }
            &__content {
              @include SizeAndPositioning(absolute, 80%, 100%, flex, center, center, 0, 0, 0);
              background-color: rgba($colorDarkestGrey, 0.1);
              opacity: 0.8;
              &__cover-photo {
                @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
              }
              &__change-photo-button {
                @include SizeAndPositioning(absolute, 4rem, 4rem, flex, center, center, 0, 0, 0);
                top: 4rem;
                left: 4rem;
                border: 0.25rem solid rgba($primaryColor, 0.8);
                background-color: rgba($colorDarkestGrey, 0.25);
                border-radius: 5rem;
              }
            }
            &__footer {
              @include SizeAndPositioning(absolute, 10%, 100%, flex, center, center, 0, 0, 0);
              bottom: 0;
              border-bottom-left-radius: 2.1rem;
              border-bottom-right-radius: 2.1rem;
              background-color: rgba($primaryColor, 0.8);
              flex-direction: column;
              &--top {
                @include SizeAndPositioning(relative, 50%, 100%, flex, space-between, flex-start, 0, 0, 0);
                padding: 0.5rem 0.5rem 0;
              }
              &--bottom {
                @include SizeAndPositioning(relative, 50%, 100%, flex, center, center, 0, 0, 0);
              }
            }
            &:hover {
              cursor: pointer;
              border: 0.3rem solid $primaryColor;
              transition: border 0.5s;
              .budget-card-container__card__header {
                background-color: $primaryColor;
                transition: background-color 0.5s, color 0.5s;
                &__icon {
                  transition: color 0.5s;
                }
              }
              .budget-card-container__card__content {
                opacity: 1;
                transition: opacity 0.5s;
                &__change-photo-button {
                  &:hover {
                    cursor: pointer;
                    border: 0.25rem solid $primaryColor;
                    background-color: $primaryColor;
                    transition: border 0.5s, background-color 0.5s;
                    .budget-card-container__card__content__change-photo-button__icon {
                      transition: color 0.5s;
                    }
                  }
                }
              }
              .budget-card-container__card__footer {
                background-color: $primaryColor;
                transition: background-color 0.5s, color 0.5s;
              }
            }
            &--create {
              @include SizeAndPositioning(relative, 100%, 25%, flex, center, center, 0, 0, 0);
              flex-direction: column;
              border: 0.3rem solid rgba($primaryColor, 0.8);
              border-radius: 2.5rem;
              background-color: transparent;
              &__header {
                @include SizeAndPositioning(absolute, 10%, 100%, flex, center, center, 0, 0, 0);
                top: 0;
                border-top-left-radius: 2.1rem;
                border-top-right-radius: 2.1rem;
                background-color: rgba($primaryColor, 0.8);
              }
              &:hover {
                cursor: pointer;
                border: 0.3rem solid $primaryColor;
                transition: border 0.5s;
                .budget-card-container__card--create__header {
                  background-color: $primaryColor;
                  transition: background-color 0.5s, color 0.5s;
                }
                .budget-card-container__card--create__icon {
                  transition: color 0.5s;
                }
              }
            }
          }
        }
        .budget-creation-form-container {
          @include SizeAndPositioning(relative, 100%, 100%, flex, space-evenly, center, 0, 0, 0);
          background-color: rgba($colorOffWhite, 0.95);
          &--hidden {
            display: none;
          }
        }
      }
    }
  }
}
