@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Master Flex Container

.master-flex-container {
  .master-grid-container {
    ////////////////////////////////////////////////
    //  Background
    .background-logo {
      @include SizeAndPositioning(relative, auto, 60%, flex, center, center, 0, 0, 0);
    }
    .background-header {
      @include SizeAndPositioning(relative, 100%, 100%, flex, center, flex-start, 0, 0, 0);
      flex-direction: column;
      &__main {
        @include SizeAndPositioning(relative, 60%, 100%, flex, flex-start, center, 0, 0, 0);
      }
      &__sub {
        @include SizeAndPositioning(relative, 40%, 100%, flex, flex-end, center, -15rem, 2rem, 0);
      }
    }
    .app-background {
      @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
      background-color: rgba($primaryColorDarker, 0.8);
    }
    .user-profile-background {
      @include SizeAndPositioning(relative, 0, 0, flex, center, center, 0, 0, 0);
      opacity: 0;
      background-color: rgba($primaryColor, 0.975);
      &--open {
        height: 100%;
        width: 100%;
        opacity: 1;
      }
    }
  }
}
