extends ./../budgetLanding

block Budget-Content 
  header.budget-container__header.r__budget-container__header
    p.budget-container__header__text.r__budget-container__header__text Invite Users
  h1 This page is blocked off until the others can be given the safeguards they need.