@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid-container {
  .app-flex-container {
    .app-viewport.r__app-viewport {
      @include SizeAndPositioning(relative, 100%, 80%, flex, center, center, 0, 0, 0);
      background-color: rgba($colorOffWhite, 0.95);
      flex-direction: column;
      .app-logo {
        @include SizingItem(relative, 40%, auto);
        margin-bottom: 3rem;
        transform: translateX(-14%);
      }
    }
  }
}
