@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

///////////////////////////////////////
// BILL CALENDAR
.bill-calendar-container {
  @include SizeAndPositioning(relative, 85%, 100%, flex, column, nowrap, center, center, 0, 0, 0);
  background-color: rgba($colorLightestGrey, 0.25);
  border-right: 0.2rem groove $primaryColor;
  padding: 3rem;
  .bill-calendar {
    @include SizeAndPositioning(relative, 100%, 100%, flex, column, nowrap, center, center, 0, 0, 0);
    padding: 0.2rem;
    &__header {
      @include SizeAndPositioning(relative, 20%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      &__icon {
        margin: 0 1rem;
        &:hover {
          cursor: pointer;
          transition: color 0.5s;
        }
      }
    }
    &__weekdays {
      @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
      background-color: $primaryColor;
      margin-bottom: 0.2rem;
      &__weekday {
        @include SizeAndPositioning(relative, 100%, calc(100% / 7), flex, row, nowrap, center, center, 0, 0, 0);
      }
    }
    &__days {
      @include SizeAndPositioning(relative, 70%, 100%, grid, row, wrap, space-evenly, center, 0, 0, 0);
      @include gridLayout(100%, 100%, repeat(7, 1fr), repeat(6, 1fr), 0.2rem, 0.2rem);
      @include gridPlacement(7, 7, 5, 5);
      &__single-day {
        @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
        border: 0.1rem solid $primaryColor;
        &:nth-of-type(7n + 1) {
          border-left: 0.2rem solid $primaryColor;
        }
        &:nth-of-type(7n) {
          border-right: 0.2rem solid $primaryColor;
        }
        &:hover {
          cursor: pointer;
          background-color: $primaryColor;
          transition: background-color 0.5s, color 0.5s;
        }
        &--current-day {
          background-color: rgba($primaryColor, 0.75);
        }
      }
      .un-used-day {
        @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
        border: none;
        &:hover {
          cursor: default;
          background-color: transparent;
          transition: background-color 0.5s, color 0.5s;
        }
      }
    }
  }
}

.upcoming-bills-container {
  @include SizeAndPositioning(relative, 85%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
  background-color: rgba($colorLightestGrey, 0.25);
  padding-top: 0.4rem;
  &__titles {
    @include SizeAndPositioning(relative, 4.4rem, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.5);
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid $primaryColor;
    &__title {
      @include SizeAndPositioning(relative, 100%, calc(20% - 0.4rem), flex, row, nowrap, center, center, 0, 0, 0);
      background-color: $primaryColor;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  .upcoming-bills {
    @include SizeAndPositioning(relative, min-content, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    padding: 0 0.3rem;
    &__bill {
      @include SizeAndPositioning(relative, 7rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
      min-height: 7rem;
      background-color: rgba($colorLightestGrey, 0.25);
      &:nth-of-type(2n) {
        background-color: rgba($colorLightestGrey, 0.5);
      }
      &__bill-item {
        @include SizeAndPositioning(relative, 100%, 20%, flex, column, wrap, center, center, 0, 0, 0);
        &:nth-of-type(5) {
          .upcoming-bills__bill__bill-item__checkbox-container {
            @include SizeAndPositioning(relative, 100%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
            input[type='checkbox'] {
              margin-right: 0.5rem;
              appearance: none;
              -webkit-appearance: none;
              @include SizingItem(relative, 2rem, 2rem);
              border: 0.2rem solid $primaryColor;
              border-radius: 0.25rem;
              background-color: transparent;
              transition: background-color 0.5s, border 0.5s;
              &::after {
                @include SizeAndPositioning(absolute, 100%, 100%, none, row, nowrap, center, center, 0, 0, 0);
                content: '\f00c';
                transition: color 0.5s;
              }
              &:hover {
                cursor: pointer;
              }
              &:checked {
                border: 0.2rem solid $secondaryColor;
                background-color: $secondaryColor;
                &:after {
                  display: flex;
                }
              }
            }
            &__text {
              @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
            }
          }
        }
      }
      &:hover {
        cursor: pointer;
        background-color: $primaryColor;
        transition: color 0.5s, background-color 0.5s;
        .upcoming-bills__bill__bill-item {
          input[type='checkbox'] {
            border: 0.2rem solid $colorOffWhite;
            transition: border 0.5s, background-color 0.5s;
          }
        }
      }
    }
  }
}
