@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  BUDGET CONTAINER
.budget-container {
  @include SizeAndPositioning(relative, 100%, 100%, flex, row, wrap, space-evenly, center, 0, 0, 0);
  &__header {
    @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
  }
}

.container {
  &--budget-management {
    @include SizeAndPositioning(relative, 85%, 100%, flex, row, wrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
  }

  &--edit-category-goals {
    @include SizeAndPositioning(relative, 85%, 100%, flex, row, wrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
    &--large {
      @extend .container--edit-category-goals;
      height: calc(45rem * 1.5);
      width: calc((55.8rem * 2) + 7rem);
      flex-flow: column nowrap;
      justify-content: space-between;
      border: 0.3rem solid $primaryColor;
      border-radius: 0.5rem;
      padding: 0.2rem;
      margin-bottom: 5rem;
      background-color: rgba($colorOffWhite, 0.8);
    }
  }

  &--extra-small {
    @include SizeAndPositioning(relative, 22.5rem, 35rem, flex, column, nowrap, space-between, center, 0, 0, 0);
    padding: 0.2rem;
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__header {
      @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
    }
    &__content {
      @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    }
    margin-bottom: 5rem;

    &__margin-left-and-right {
      @extend .container--extra-small;
      margin: 0 6rem;

      &__header {
        @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 0 1.5rem;
        background-color: $primaryColor;
        border-bottom: 0.3rem solid $tertiaryColor;
      }
      &:nth-of-type(4) {
        .form--extra-small {
          justify-content: flex-start;
        }
      }
    }
  }

  &--small {
    @include SizeAndPositioning(relative, 45rem, 55.8rem, flex, column, nowrap, space-between, center, 0, 0, 0);
    padding: 0.2rem;
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__header {
      @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
      min-height: 15%;
    }
    &__content {
      @include SizeAndPositioning(relative, 85%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      &--transaction {
        @extend .container--small__content;
        height: 55%;
        // padding-bottom: 2rem;
      }
    }
    &__transaction-total {
      @include SizeAndPositioning(relative, 30%, 100%, flex, column, nowrap, space-around, center, 0, 0, 0);
      min-height: 20%;
      background-color: $primaryColor;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
    margin-bottom: 5rem;

    &-wide {
      @extend .container--small;
      width: calc((55.8rem * 2) + 7rem);
      flex-direction: row;
      padding: 0.2rem;
      border: 0.3rem solid $primaryColor;
      border-radius: 0.5rem;
      margin-bottom: 5rem;
      background-color: rgba($colorOffWhite, 0.8);
      .container-divide {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        &__header {
          @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          padding: 0 1.5rem;
          background-color: $primaryColor;
          border-bottom: 0.3rem solid $tertiaryColor;
          min-height: 15%;
          &__icon {
            @include SizeAndPositioning(absolute, 100%, 6rem, flex, row, nowrap, center, center, 0, -50%, 0);
            top: 50%;
            left: 0;
          }
        }
        &--thirds {
          @extend .container-divide;
          border-top-left-radius: 0.25rem;
          width: 35%;
          &__header {
            @extend .container-divide__header;
            &__icon {
              @extend .container-divide__header__icon;
            }
          }
        }
        &--two-thirds {
          @extend .container-divide;
          border-top-right-radius: 0.25rem;
          width: 65%;
          &__header {
            @extend .container-divide__header;
            &__icon {
              @extend .container-divide__header__icon;
            }
          }
        }
      }
    }
  }
  &--large {
    @include SizeAndPositioning(relative, calc(45rem * 1.5), calc((55.8rem * 2) + 7rem), flex, column, nowrap, space-between, center, 0, 0, 0);
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-bottom: 5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__header {
      @include SizeAndPositioning(relative, 10%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
      min-height: 8%;
      &__icon {
        @include SizeAndPositioning(absolute, 100%, 6rem, flex !important, row, nowrap, center, center, 0, -50%, 0);
        top: 50%;
        left: 0;
      }
    }
    &__category-container {
      @include SizeAndPositioning(relative, 47rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      padding: 1.5rem;
      .main-category-display {
        @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
        &__button-container {
          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
        }
        &__category-display {
          @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          &__title {
            margin-top: 2rem;
          }
        }
      }
      .main-category-display {
        @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
        &__button-container {
          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
          .left,
          .right {
            &:hover {
              cursor: pointer;
              transition: color 0.5s;
            }
          }
        }
        &__category-display {
          @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          &__title {
            margin-top: 2rem;
          }
        }
      }
      .sub-category-display {
        @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, flex-start, center, 0, 0, 0);
        margin-left: 1.5rem;
        overflow-y: auto;
        &__headers {
          @include SizeAndPositioning(relative, 4rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
          min-height: 4rem;
          &__title-container {
            @include SizeAndPositioning(relative, 100%, 19.5%, flex, row, nowrap, center, center, 0, 0, 0);
            background-color: $primaryColor;
          }
        }
        &__sub-category {
          @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
          min-height: 10rem;
          background-color: rgba($colorLightestGrey, 0.25);
          &:nth-of-type(2n) {
            background-color: rgba($colorLightestGrey, 0.5);
          }
          &__section {
            @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
            &__input {
              border: $colorOffWhite;
              &:focus {
                background-color: rgba($colorOffWhite, 0.8);
                outline: none;
              }
            }
            .form__input--medium {
              &:focus {
                background-color: $colorOffWhite;
                outline: none;
              }
            }
            &:first-of-type {
              flex-direction: column;
            }
          }
          &:hover {
            cursor: pointer;
            .sub-category-display__sub-category__section {
              background-color: $primaryColor;
              transition: background-color 0.5s, color 0.5s;
              .button--borderless-set-timing-button {
                cursor: pointer;
                transition: color 0.5s;
              }
              .form__input--medium {
                background-color: rgba($colorOffWhite, 0.8);
              }
            }
          }
          &--hidden {
            display: none;
          }
        }
      }
    }
  }
}

.budget-goal-summary-container {
  @include SizeAndPositioning(relative, 14rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
  .budget-single-goal-summary {
    @include SizeAndPositioning(relative, 100%, 19%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
    background-color: $colorLightestGrey;
    &__title,
    &__amount {
      @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    }
  }
}
