@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  BUDGET CONTAINER
.budget-container {
  @include SizeAndPositioning(relative, 100%, 100%, flex, row, wrap, space-evenly, center, 0, 0, 0);
  overflow-y: auto;
  &__header {
    @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
    align-self: flex-start;
  }
}

.container {
  &--budget-management {
    @include SizeAndPositioning(relative, 85%, 100%, flex, row, wrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
  }

  &--edit-category-goals {
    @include SizeAndPositioning(relative, 85%, 100%, flex, row, wrap, center, center, 0, 0, 0);
    background-color: rgba($colorLightestGrey, 0.3);
    &--large {
      @extend .container--edit-category-goals;
      height: calc(45rem * 1.5);
      width: calc((55.8rem * 2) + 7rem);
      flex-flow: column nowrap;
      justify-content: space-between;
      border: 0.3rem solid $primaryColor;
      border-radius: 0.5rem;
      padding: 0.2rem;
      margin-bottom: 5rem;
      background-color: rgba($colorOffWhite, 0.8);
    }
  }

  &--allocate-income {
    @extend .container--budget-management;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow-y: auto;
  }

  &--extra-small {
    @include SizeAndPositioning(relative, 22.5rem, 35rem, flex, column, nowrap, space-between, center, 0, 0, 0);
    padding: 0.2rem;
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    background-color: rgba($colorOffWhite, 0.8);

    min-height: 22.5rem;
    &__header {
      @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
    }
    &__content {
      @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      &__applied-container {
        @include SizeAndPositioning(absolute, 30%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        bottom: 0;
        left: 0;
        border-top: 0.3rem solid $primaryColor;
        border-right: 0.3rem solid $primaryColor;
      }
      &__un-applied-container {
        @include SizeAndPositioning(absolute, 30%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        bottom: 0;
        right: 0;
        border-top: 0.3rem solid $primaryColor;
      }
    }
    margin-bottom: 5rem;

    &__margin-left-and-right {
      @extend .container--extra-small;
      margin: 0 6rem;

      &__header {
        @include SizeAndPositioning(relative, 25%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 0 1.5rem;
        background-color: $primaryColor;
        border-bottom: 0.3rem solid $tertiaryColor;
      }
      &:nth-of-type(4) {
        .form--extra-small {
          justify-content: flex-start;
        }
      }
    }
    &-evenly-spaced {
      @extend .container--extra-small;
      &__header {
        @extend .container--extra-small__header;
      }
      &__content {
        @extend .container--extra-small__content;
        justify-content: space-evenly;
        &__account-total {
          transform: translate(0, -2rem);
        }
        &__applied-container {
          @include SizeAndPositioning(absolute, 30%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
          bottom: 0;
          left: 0;
          border-top: 0.3rem solid $primaryColor;
          border-right: 0.3rem solid $primaryColor;
        }
        &__un-applied-container {
          @include SizeAndPositioning(absolute, 30%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
          bottom: 0;
          right: 0;
          border-top: 0.3rem solid $primaryColor;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .container--extra-small__content-icon {
        transition: color 0.5s;
      }
    }
    &__row {
      @extend .container--extra-small;
      flex-flow: row wrap;
      &__header {
        @extend .container--extra-small__header;
      }
    }
  }

  &--small {
    @include SizeAndPositioning(relative, 45rem, 55.8rem, flex, column, nowrap, space-between, center, 0, 0, 0);
    padding: 0.2rem;
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__header {
      @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
      min-height: 15%;
    }
    &__content {
      @include SizeAndPositioning(relative, 85%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      &--transaction {
        @extend .container--small__content;
        height: 55%;
        // padding-bottom: 2rem;
      }
    }
    &__transaction-total {
      @include SizeAndPositioning(relative, 30%, 100%, flex, column, nowrap, space-around, center, 0, 0, 0);
      min-height: 20%;
      background-color: $primaryColor;
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
    margin-bottom: 5rem;

    &-wide {
      @extend .container--small;
      width: calc((55.8rem * 2) + 7rem);
      flex-direction: row;
      padding: 0.2rem;
      border: 0.3rem solid $primaryColor;
      border-radius: 0.5rem;
      margin-bottom: 5rem;
      background-color: rgba($colorOffWhite, 0.8);
      .container-divide {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
        &__header {
          @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          padding: 0 1.5rem;
          background-color: $primaryColor;
          border-bottom: 0.3rem solid $tertiaryColor;
          min-height: 15%;
          &__icon {
            @include SizeAndPositioning(absolute, 100%, 6rem, flex, row, nowrap, center, center, 0, -50%, 0);
            top: 50%;
            left: 0;
          }
        }
        &--thirds {
          @extend .container-divide;
          border-top-left-radius: 0.25rem;
          width: 35%;
          &__header {
            @extend .container-divide__header;
            &__icon {
              @extend .container-divide__header__icon;
            }
          }
        }
        &--two-thirds {
          @extend .container-divide;
          border-top-right-radius: 0.25rem;
          width: 65%;
          &__header {
            @extend .container-divide__header;
            &__icon {
              @extend .container-divide__header__icon;
            }
          }
        }
      }
    }
  }

  &--medium {
    @include SizeAndPositioning(relative, 45rem, 55.8rem, flex, column, nowrap, space-between, center, 0, 0, 0);
    height: calc((45rem * 1.25));
    width: calc((55.8rem * 1.75) + 7rem);
    flex-direction: row;
    padding: 0.2rem;
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__half {
      @include SizeAndPositioning(relative, 100%, 50%, flex, row, nowrap, flex-start, flex-start, 0, 0, 0);
      flex-flow: row wrap;
      overflow-y: auto;
      &:first-of-type {
        border-right: 0.3rem solid $primaryColor;
        padding-right: 0.2rem;
      }
      &:nth-of-type(2) {
        @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, center, center, 0, 0, 0);
        padding-left: 0.2rem;
        .main-category-display {
          @include SizeAndPositioning(relative, 55%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
          &__left-button,
          &__right-button {
            @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
            &__icon {
              &:hover {
                cursor: pointer;
                transition: color 0.5s;
              }
            }
          }
          &__category-information {
            @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          }
        }
        .sub-category-display {
          @include SizeAndPositioning(relative, 45%, 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
          border-top: 0.3rem solid $primaryColor;
          overflow-y: auto;
          .sub-category {
            @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
            .sub-category-title-container {
              @include SizeAndPositioning(relative, 100%, 70%, flex, row, nowrap, flex-start, center, 0, 0, 0);
              padding-left: 2rem;
            }
            .sub-category-controller {
              @include SizeAndPositioning(relative, 100%, 30%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
              &__surplus-container {
                @include SizeAndPositioning(relative, 100%, 50%, flex, column, nowrap, center, center, 0, 0, 0);
                &__switch {
                  @include SizeAndPositioning(relative, 40%, 75%, flex, row, nowrap, flex-start, center, 0, 0, 0);
                  border: 0.2rem solid rgba($primaryColorDark, 0.8);
                  border-radius: 2rem;
                  background-color: rgba($primaryColor, 0.8);
                  transition: border 0.5s, background-color 0.5s, transform 0.5s;
                  &__toggle {
                    @include SizeAndPositioning(relative, 93%, 33%, flex, row, nowrap, center, center, 5%, 0, 0);
                    border: 0.2rem solid rgba($colorOffWhite, 0.8);
                    border-radius: 50%;
                    background-color: rgba($primaryColorDark, 0.8);
                    transition: border 0.5s, background-color 0.5s, transform 0.5s;
                  }
                  &--switched {
                    @include SizeAndPositioning(relative, 40%, 75%, flex, row, nowrap, flex-start, center, 0, 0, 0);
                    border: 0.2rem solid rgba($secondaryColorDark, 0.8);
                    border-radius: 2rem;
                    background-color: rgba($secondaryColor, 0.8);
                    .sub-category-controller__surplus-container__switch__toggle {
                      @include SizeAndPositioning(relative, 93%, 33%, flex, row, nowrap, center, center, 200%, 0, 0);
                      border-radius: 50%;
                      background-color: rgba($secondaryColorDark, 0.8);
                    }
                  }
                  &:hover {
                    cursor: pointer;
                  }
                  &__alt {
                    @extend .sub-category-controller__surplus-container__switch;
                    width: 80%;
                    &__toggle {
                      @include SizeAndPositioning(relative, 93%, 33%, flex, row, nowrap, center, center, 5%, 0, 0);
                      border: 0.2rem solid rgba($colorOffWhite, 0.8);
                      border-radius: 50%;
                      background-color: rgba($primaryColorDark, 0.8);
                      transition: border 0.5s, background-color 0.5s, transform 0.5s;
                    }
                    &--switched {
                      @include SizeAndPositioning(relative, 40%, 80%, flex, row, nowrap, flex-start, center, 0, 0, 0);
                      border: 0.2rem solid rgba($secondaryColorDark, 0.8);
                      border-radius: 2rem;
                      background-color: rgba($secondaryColor, 0.8);
                      .sub-category-controller__surplus-container__switch__alt__toggle {
                        @include SizeAndPositioning(relative, 93%, 33%, flex, row, nowrap, center, center, 200%, 0, 0);
                        border-radius: 50%;
                        background-color: rgba($secondaryColorDark, 0.8);
                      }
                      &:hover {
                        cursor: pointer;
                      }
                    }
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }
              &__icon {
                &:hover {
                  cursor: pointer;
                  transition: color 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }

  &--large {
    @include SizeAndPositioning(relative, calc(45rem * 1.5), calc((55.8rem * 2) + 7rem), flex, column, nowrap, space-between, center, 0, 0, 0);
    border: 0.3rem solid $primaryColor;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-bottom: 5rem;
    background-color: rgba($colorOffWhite, 0.8);
    &__header {
      @include SizeAndPositioning(relative, 10%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      padding: 0 1.5rem;
      background-color: $primaryColor;
      border-bottom: 0.3rem solid $tertiaryColor;
      min-height: 8%;
      &__icon {
        @include SizeAndPositioning(absolute, 100%, 6rem, flex !important, row, nowrap, center, center, 0, -50%, 0);
        top: 50%;
        left: 0;
      }
    }
    &__category-container {
      @include SizeAndPositioning(relative, 47rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      padding: 1.5rem;
      .main-category-display {
        @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
        &__button-container {
          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
        }
        &__category-display {
          @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          &__title {
            margin-top: 2rem;
          }
        }
      }
      .main-category-display {
        @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
        &__button-container {
          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
          .left,
          .right {
            &:hover {
              cursor: pointer;
              transition: color 0.5s;
            }
          }
        }
        &__category-display {
          @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
          &__title {
            margin-top: 2rem;
          }
        }
      }
      .sub-category-display {
        @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, flex-start, center, 0, 0, 0);
        margin-left: 1.5rem;
        overflow-y: auto;
        &__headers {
          @include SizeAndPositioning(relative, 4rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
          min-height: 4rem;
          &__title-container {
            @include SizeAndPositioning(relative, 100%, 19.5%, flex, row, nowrap, center, center, 0, 0, 0);
            background-color: $primaryColor;
          }
        }
        &__sub-category {
          @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
          min-height: 10rem;
          background-color: rgba($colorLightestGrey, 0.25);
          &:nth-of-type(2n) {
            background-color: rgba($colorLightestGrey, 0.5);
          }
          &__section {
            @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
            &__input {
              border: $colorOffWhite;
              &:focus {
                background-color: rgba($colorOffWhite, 0.8);
                outline: none;
              }
            }
            .form__input--medium {
              &:focus {
                background-color: $colorOffWhite;
                outline: none;
              }
            }
            &:first-of-type {
              flex-direction: column;
            }
          }
          &:hover {
            cursor: pointer;
            .sub-category-display__sub-category__section {
              background-color: $primaryColor;
              transition: background-color 0.5s, color 0.5s;
              .button--borderless-set-timing-button {
                cursor: pointer;
                transition: color 0.5s;
              }
              .form__input--medium {
                background-color: rgba($colorOffWhite, 0.8);
              }
            }
          }
          &--hidden {
            display: none;
          }
        }
      }
    }
  }
  &--extra-large {
    @include SizeAndPositioning(relative, 85%, 100%, flex, row, wrap, center, center, 0, 0, 0);
    &__half {
      @include SizeAndPositioning(relative, 50%, 100%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
      background-color: rgba($colorOffWhite, 0.5);
      &:first-of-type {
        border-bottom: 0.3rem solid $primaryColor;
      }
      &__header {
        @include SizeAndPositioning(relative, 15%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      }
      .investment-container {
        @include SizeAndPositioning(relative, 85%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      }
    }
  }
}

.budget-goal-summary-container {
  @include SizeAndPositioning(relative, 14rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
  .budget-single-goal-summary {
    @include SizeAndPositioning(relative, 100%, 19%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
    background-color: $colorLightestGrey;
    &__title,
    &__amount {
      @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    }
  }
}

.surplus-container {
  @include SizeAndPositioning(relative, 100%, 8rem, flex, column, nowrap, center, center, 0, 0, 0);
  &__text {
    margin-bottom: 0.25rem;
  }
  &__switch {
    @include SizeAndPositioning(relative, 2.5rem, 80%, flex, row, nowrap, flex-start, center, 0, 0, 0);
    border: 0.2rem solid rgba($primaryColorDark, 0.8);
    border-radius: 4rem;
    background-color: rgba($primaryColor, 0.8);
    padding: 0.1rem;
    &__toggle {
      @include SizeAndPositioning(relative, 100%, 33%, flex, row, nowrap, center, center, 0, 0, 0);
      border: 0.2rem solid rgba($colorOffWhite, 0.8);
      border-radius: 4rem;
      background-color: rgba($primaryColor, 0.8);
      transition: transform 0.5s;
    }
    &--switched {
      @extend .surplus-container__switch;
      border: 0.2rem solid rgba($secondaryColorDark, 0.8);
      background-color: rgba($secondaryColor, 0.8);
      .surplus-container__switch__toggle {
        @extend .surplus-container__switch__toggle;
        transform: translate(202%, 0);
        background-color: rgba($secondaryColor, 0.8);
      }
    }
  }
}
