@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid-container {
  .entrance-button-container {
    .entrance-button {
      @include SizeAndPositioning(relative, 65%, 40%, flex, center, center, 13%, 0, 0);
      -moz-transform: translate(13%, 0);
      background-color: rgba($colorLightestGrey, 0.125);
      border: 0.3rem solid rgba($primaryColor, 0.75);
      border-radius: 1.5rem;
      &:hover {
        cursor: pointer;
        background-color: $primaryColor;
        border: 0.3rem solid $primaryColor;
        transition: background-color 0.5s, border 0.5s, color 0.5s;
      }
    }
  }
  .form-container {
    .login-form,
    .signup-form,
    .forgotten-form,
    .reset-password-form {
      &__section {
        &__button {
          @include SizeAndPositioning(relative, 6rem, 20%, flex, center, center, 0, 0, 0);
          background-color: rgba($colorLightestGrey, 0.125);
          border: 0.3rem solid rgba($primaryColor, 0.75);
          border-radius: 0.75rem;
          &:hover {
            cursor: pointer;
            background-color: $primaryColor;
            border: 0.3rem solid $primaryColor;
            transition: background-color 0.5s, border 0.5s, color 0.5s;
          }
        }
      }
      &__form-page {
        &__section {
          &__button {
            @include SizeAndPositioning(relative, 6rem, 20%, flex, center, center, 0, 0, 0);
            background-color: rgba($colorLightestGrey, 0.125);
            border: 0.3rem solid rgba($primaryColor, 0.75);
            border-radius: 0.75rem;
            &:hover {
              cursor: pointer;
              background-color: $primaryColor;
              border: 0.3rem solid $primaryColor;
              transition: background-color 0.5s, border 0.5s, color 0.5s;
            }
          }
        }
      }
    }
  }
  .app-flex-container {
    .app-navigation__main {
      &__user-information {
        &__update-picture {
          @include SizeAndPositioning(relative, 7.5%, 60%, flex, center, center, 0, 0, 0);
          background-color: transparent;
          border: none;
          &--icon {
            margin-right: 1rem;
          }
          &:hover {
            cursor: pointer;
            .app-navigation__main__user-information__update-picture--icon,
            .app-navigation__main__user-information__update-picture--text {
              transition: color 0.5s;
            }
          }
        }
      }
    }
    .app-viewport {
      &__display-container {
        .user-profile-container {
          // USER PROFILE FORM CONTAINER
          &__form-container {
            // USER PROFILE FORM
            .user-profile-form {
              &__button {
                @include SizeAndPositioning(relative, 7rem, 15%, flex, center, center, 0, 0, 0);
                border: 0.3rem solid rgba($colorOffWhite, 0.75);
                border-radius: 1.25rem;
                background-color: transparent;
                &--icon {
                  margin-right: 1rem;
                }
                &:hover {
                  cursor: pointer;
                  background-color: $secondaryColor;
                  border: 0.3rem solid $colorOffWhite;
                  transition: background-color 0.5s, border 0.5s, color 0.5s;
                }
                &:active {
                  background-color: $tertiaryColor;
                  border: 0.3rem solid $colorDarkerGrey;
                }
              }
              &__section {
                &__button {
                  @include SizeAndPositioning(absolute, 3rem, 12.5%, flex, center, center, 0, 0.75rem, 0);
                  bottom: 0;
                  right: 36.5%;
                  background-color: transparent;
                  border: none;
                  &:hover {
                    cursor: pointer;
                    transition: color 0.5s, transform 0.5s;
                  }
                  &__password-button {
                    @include SizeAndPositioning(relative, 7rem, 15%, flex, center, center, 0, 0, 0);
                    border: 0.3rem solid rgba($colorOffWhite, 0.75);
                    border-radius: 1.25rem;
                    background-color: transparent;
                    margin: 1rem 0;
                    &:focus {
                      outline: none;
                    }
                    &--icon {
                      margin-right: 1rem;
                    }
                    &:hover {
                      cursor: pointer;
                      background-color: $secondaryColor;
                      border: 0.3rem solid $colorOffWhite;
                      transition: background-color 0.5s, border 0.5s, color 0.5s;
                    }
                    &:active {
                      background-color: $tertiaryColor;
                      border: 0.3rem solid $colorDarkerGrey;
                    }
                  }
                }
                &__sub-section {
                  &__button {
                    @include SizeAndPositioning(relative, 7rem, 15%, flex, center, center, 0, 0, 0);
                    border: 0.3rem solid rgba($colorOffWhite, 0.75);
                    border-radius: 1.25rem;
                    background-color: transparent;
                    &--icon {
                      margin-right: 1rem;
                    }
                    &:hover {
                      cursor: pointer;
                      background-color: $secondaryColor;
                      border: 0.3rem solid $colorOffWhite;
                      transition: background-color 0.5s, border 0.5s, color 0.5s;
                    }
                    &:active {
                      background-color: $tertiaryColor;
                      border: 0.3rem solid $colorDarkerGrey;
                    }
                  }
                }
              }
              .account-management-button.r__account-management-button {
                margin: 1rem 0;
              }
            }
          }
        }
      }
    }
  }
}
