@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Grid Container
.master-grid-container {
  .application-flex-container {
    .application-viewport {
      .application-display {
        .budget-creation-form-container {
          .budget-creation-form {
            &__page {
              &__section {
                &__main-category-container {
                  .main-category {
                    &:hover {
                      .main-category__delete {
                        border: 0.2rem solid rgba($colorOffWhite, 0.8);
                      }
                    }
                    &__delete {
                      @include SizeAndPositioning(absolute, 2rem, 2rem, flex, row, nowrap, center, center, 0, 0, 0);
                      top: 0.5rem;
                      right: 0.5rem;
                      border: 0.2rem solid rgba($primaryColor, 0.8);
                      border-radius: 50%;
                      background-color: transparent;
                      &:hover {
                        cursor: pointer;
                        background-color: $colorOffWhite;
                        border: 0.2rem solid $colorOffWhite;
                        transition: background-color 0.5s, border 0.5s, color 0.5s;
                      }
                    }
                  }
                }
                &__set-main-category-title-container {
                  &__button {
                    @include SizeAndPositioning(relative, 5rem, 25%, flex, row, nowrap, center, center, 0, 0, 0);
                    border: 0.3rem solid rgba($primaryColor, 0.8);
                    border-radius: 1.25rem;
                    background-color: transparent;
                    margin-left: 1rem;
                    &:hover {
                      cursor: pointer;
                      background-color: $primaryColor;
                      transition: color 0.5s, background-color 0.5s, border 0.5s;
                    }
                  }
                }
                &__sub-category-container {
                  &__sub-category-display {
                    &__sub-category-button {
                      @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
                      min-height: 6rem;
                      border: none;
                      background-color: transparent;
                      &:hover {
                        cursor: pointer;
                        transition: color 0.5s;
                      }
                      &__icon {
                        margin-right: 1rem;
                      }
                      &--hidden {
                        display: none;
                      }
                    }
                  }
                  .category-creation {
                    &__input-container {
                      &__button {
                        @include SizeAndPositioning(relative, 50%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
                        border: 0.2rem solid rgba($primaryColor, 0.8);
                        background-color: rgba($colorOffWhite, 0.25);
                        border-radius: 0.5rem;
                        margin-left: 1rem;
                        &:hover {
                          cursor: pointer;
                          border: 0.2rem solid $primaryColor;
                          background-color: $primaryColor;
                          transition: background-color 0.5s, color 0.5s, border 0.5s;
                        }
                      }
                    }
                    &__controller {
                      &__close {
                        @include SizeAndPositioning(relative, 50%, 50%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
                        border: 0.2rem solid rgba($primaryColor, 0.8);
                        background-color: rgba($colorOffWhite, 0.25);
                        border-radius: 0.5rem;
                        margin-left: 1rem;
                        &:hover {
                          cursor: pointer;
                          border: 0.2rem solid $primaryColor;
                          background-color: $primaryColor;
                          transition: background-color 0.5s, color 0.5s, border 0.5s;
                        }
                      }
                    }
                  }
                }
                &__month-container {
                  &__category-container {
                    .main-category-display {
                      &__button-container {
                        .left,
                        .right {
                          &:hover {
                            cursor: pointer;
                            transition: color 0.5s;
                          }
                        }
                      }
                    }
                    .sub-category-display {
                      &__headers {
                        &__title-container {
                        }
                      }
                      &__sub-category {
                        &__section {
                          @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
                          &:first-of-type {
                            justify-content: space-evenly;
                            flex-direction: column;
                          }
                          &__set-category-timing-button {
                            background-color: transparent;
                            border: none;
                            &:hover {
                              cursor: pointer;
                              transition: color 0.5s;
                            }
                          }
                        }
                        &:hover {
                          .sub-category-display__sub-category__section {
                            cursor: pointer;
                            background-color: $primaryColor;
                          }
                        }
                      }
                      &__timing-container {
                        &__monthly-container,
                        &__bi-monthly-container,
                        &__bi-weekly-container,
                        &__weekly-container {
                          &__button {
                            @include SizeAndPositioning(relative, 7rem, 70%, flex, row, nowrap, center, center, 0, 0, 0);
                            background-color: transparent;
                            border: 0.3rem solid rgba($primaryColor, 0.8);
                            border-radius: 0.9rem;
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                            &:first-of-type {
                              margin-top: 1rem;
                            }
                            &:last-of-type {
                              margin-bottom: 1rem;
                            }
                            &__icon {
                              @include SizeAndPositioning(absolute, 5rem, 5rem, flex, row, nowrap, center, center, 0, -50%, 0);
                              top: 50%;
                              left: 1rem;
                            }
                            &:hover {
                              cursor: pointer;
                              background-color: $primaryColor;
                              border: 0.3rem solid $primaryColor;
                              transition: background-color 0.5s, border 0.5s, color 0.5s;
                              .path1,
                              .path2,
                              .path3 {
                                transition: color 0.5s;
                              }
                            }
                            &:active {
                              background-color: $secondaryColor;
                              border: 0.3rem solid $secondaryColor;
                            }
                          }
                          &__submit {
                            @include SizeAndPositioning(relative, 5rem, 40%, flex, row, nowrap, center, center, 4rem, 0, 0);
                            border: 0.3rem solid rgba($primaryColor, 0.8);
                            border-radius: 0.8rem;
                            padding: 1rem;
                            margin-bottom: 0.5rem;
                            background-color: rgba($primaryColor, 0.8);
                            &:hover {
                              cursor: pointer;
                              background-color: $primaryColor;
                              border: 0.3rem solid $primaryColor;
                              transition: color 0.5s, background-color 0.5s, border 0.5s;
                            }
                            &:active {
                              background-color: $secondaryColor;
                              border: 0.3rem solid $secondaryColor;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &-mechanisms {
                &__page-number {
                  margin-right: 2rem;
                }
                &__submit-button {
                  @include SizeAndPositioning(relative, 5rem, 15%, flex, row, nowrap, center, center, 0, 0, 0);
                  border: 0.3rem solid rgba($primaryColor, 0.8);
                  border-radius: 1.25rem;
                  background-color: transparent;
                  &:hover {
                    cursor: pointer;
                    background-color: $primaryColor;
                    transition: color 0.5s, background-color 0.5s, border 0.5s;
                  }
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
      .budget-container {
        &__dashboard {
          &__container {
            &--small {
              &__header {
                &__button {
                  @include SizeAndPositioning(relative, 75%, 25%, flex, row, nowrap, center, center, 0, 0, 0);
                  background-color: transparent;
                  border: 0.3rem solid rgba($colorOffWhite, 0.8);
                  border-radius: 0.9rem;
                  &:hover {
                    cursor: pointer;
                    background-color: $secondaryColor;
                    border: 0.3rem solid $colorOffWhite;
                    transition: color 0.5s, background-color 0.5s, border 0.5s;
                  }
                  &:active {
                    background-color: $tertiaryColor;
                  }
                }
              }
              &__content {
                @include SizeAndPositioning(relative, 75%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
                .enter-transaction-form {
                  .form-row {
                    &:nth-of-type(1) {
                      .form-button {
                        @include SizeAndPositioning(relative, 4rem, 26.7%, flex, row, nowrap, center, center, 0, 0, 0);
                        padding: 0.5rem;
                        border: 0.2rem solid rgba($primaryColor, 0.8);
                        border-radius: 0.9rem;
                        background-color: transparent;
                        &:hover {
                          cursor: pointer;
                          background-color: $primaryColor;
                          transition: background-color 0.5s, color 0.5s, border 0.5s;
                        }
                        &:focus {
                          border: 0.2rem solid $primaryColor;
                        }
                      }
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                      .form-row__section {
                        &:nth-of-type(0),
                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(6),
                        &:nth-of-type(7),
                        &:nth-of-type(9),
                        &:nth-of-type(10),
                        &:nth-of-type(12),
                        &:nth-of-type(13) {
                          width: 50%;
                          .form-input {
                            width: 90%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &__edit-category-goals-container {
          &--large {
            &__category-container {
              .sub-category-display {
                &__sub-category {
                  &__section {
                    &__set-category-timing-button {
                      background-color: transparent;
                      border: none;
                      &:hover {
                        cursor: pointer;
                        transition: color 0.5s;
                      }
                    }
                  }
                }
                &__timing-container {
                  &__monthly-container,
                  &__bi-monthly-container,
                  &__bi-weekly-container,
                  &__weekly-container {
                    &__button {
                      @include SizeAndPositioning(relative, 7rem, 70%, flex, row, nowrap, center, center, 0, 0, 0);
                      background-color: transparent;
                      border: 0.3rem solid rgba($primaryColor, 0.8);
                      border-radius: 0.9rem;
                      margin-top: 0.5rem;
                      margin-bottom: 0.5rem;
                      &:first-of-type {
                        margin-top: 1rem;
                      }
                      &:last-of-type {
                        margin-bottom: 1rem;
                      }
                      &__icon {
                        @include SizeAndPositioning(absolute, 5rem, 5rem, flex, row, nowrap, center, center, 0, -50%, 0);
                        top: 50%;
                        left: 1rem;
                      }
                      &:hover {
                        cursor: pointer;
                        background-color: $primaryColor;
                        border: 0.3rem solid $primaryColor;
                        transition: background-color 0.5s, border 0.5s, color 0.5s;
                        .path1,
                        .path2,
                        .path3 {
                          transition: color 0.5s;
                        }
                      }
                      &:active {
                        background-color: $secondaryColor;
                        border: 0.3rem solid $secondaryColor;
                      }
                    }
                    &__submit {
                      @include SizeAndPositioning(relative, 5rem, 40%, flex, row, nowrap, center, center, 4rem, 0, 0);
                      border: 0.3rem solid rgba($primaryColor, 0.8);
                      border-radius: 0.8rem;
                      padding: 1rem;
                      margin-bottom: 0.5rem;
                      background-color: rgba($primaryColor, 0.8);
                      &:hover {
                        cursor: pointer;
                        background-color: $primaryColor;
                        border: 0.3rem solid $primaryColor;
                        transition: color 0.5s, background-color 0.5s, border 0.5s;
                      }
                      &:active {
                        background-color: $secondaryColor;
                        border: 0.3rem solid $secondaryColor;
                      }
                    }
                  }
                  &__hidden {
                    display: none;
                  }
                }
              }
            }
          }
        }
        &__update-budget-categories-button-container {
          &__button {
            @include SizeAndPositioning(relative, 75%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
            border: 0.3rem solid rgba($primaryColor, 0.8);
            border-radius: 0.9rem;
            background-color: transparent;
            &:hover {
              cursor: pointer;
              background-color: $primaryColor;
              border: 0.3rem solid $primaryColor;
              transition: color 0.5s, background-color 0.5s, border 0.5s;
            }
          }
        }
      }
    }
  }
}
// End of Master Grid Container

.button {
  @include SizeAndPositioning(relative, 6rem, 40%, flex, row, nowrap, center, center, 13%, 0, 0);
  -moz-transform: translate(13%, 0);
  background-color: rgba($colorLightestGrey, 0.125);
  border: 0.3rem solid rgba($primaryColor, 0.75);
  border-radius: 1.5rem;
  &:hover {
    cursor: pointer;
    background-color: $primaryColor;
    border: 0.3rem solid $primaryColor;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
  }

  &--update-photo {
    @include SizeAndPositioning(relative, 4rem, max-content, flex, row, nowrap, space-evenly, center, 0, 0, 0);
    background-color: rgba($primaryColor, 0.8);
    padding: 0.25rem 0.5rem;
    border: 0.2rem solid rgba($colorOffWhite, 0.8);
    border-radius: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: $secondaryColor;
      transition: background-color 0.5s, color 0.5s;
    }

    &__icon {
      margin-right: 0.5rem;
    }
  }

  &--settle {
    @extend .button;
    height: 3rem;
    width: 40%;
    border-radius: 5rem;
    border: 0.2rem solid rgba($primaryColor, 0.75);
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    &:hover {
      border: 0.2rem solid $primaryColor;
    }
  }

  &--confirm-value {
    @include SizeAndPositioning(relative, 95%, 15%, flex, row, nowrap, center, center, 0, 0, 0);
    background-color: rgba($primaryColor, 0.8);
    border: 0.2rem solid rgba($primaryColor, 0.8);
    border-left: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: $secondaryColor;
      border: 0.2rem solid $secondaryColor;
      border-left: none;
      transition: border 0.5s, background-color 0.5s, color 0.5s;
    }
  }

  &--transaction-button {
    @extend .button;
    height: 3rem;
    width: max-content;
    transform: translate(0, 0);
    padding: 0.5rem;
    border: 0.2rem solid rgba($primaryColor, 0.8);
    border-radius: 0.9rem;
    background-color: transparent;
    &:hover {
      border: 0.2rem solid $primaryColor;
    }
    &:focus {
      border: 0.2rem solid $primaryColor;
    }
  }

  &--timing-button {
    @extend .button;

    height: 7rem;
    width: 70%;
    transform: translate(0, 0);
    background-color: transparent;
    border-radius: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &:first-of-type {
      margin-top: 1rem;
    }
    &:last-of-type {
      margin-bottom: 1rem;
    }
    &__icon {
      @include SizeAndPositioning(absolute, 5rem, 5rem, flex, row, nowrap, center, center, 0, -50%, 0);
      top: 50%;
      left: 1rem;
    }
    &:hover {
      .path1,
      .path2,
      .path3 {
        transition: color 0.5s;
      }
    }
    &:active {
      background-color: $secondaryColor;
      border: 0.3rem solid $secondaryColor;
    }
    &-submit {
      @extend .button;
      height: 5rem;
      transform: translate(4rem, 0);
      border-radius: 0.8rem;
      padding: 1rem;
      margin-bottom: 0.5rem;
      background-color: rgba($primaryColor, 0.8);

      &:active {
        background-color: $secondaryColor;
        border: 0.3rem solid $secondaryColor;
      }
    }
  }

  &--extra-extra-small {
    @extend .button;
    height: 3.5rem;
    width: 30%;
    justify-content: space-evenly;
    transform: translate(-5rem, 0.75rem);
    align-self: center;
    background-color: rgba($primaryColor, 0.5);
    border: 0.2rem solid rgba($primaryColor, 0.8);
    border-radius: 0.5rem;
    min-height: 3rem;
    &:hover {
      cursor: pointer;
      background-color: $primaryColor;
      border: 0.2rem solid $primaryColor;
      transition: background-color 0.5s, color 0.5s, border 0.5s;
    }
    &__alt {
      @extend .button--extra-extra-small;
      transform: translate(4rem, 0rem);
    }
    &__transaction-plan,
    &__debt-transaction-plan,
    &__view-receipt {
      @extend .button--extra-extra-small;
      height: 4rem;
      width: 10rem;
      transform: translate(0rem, 0rem);
      align-self: center;
      border-radius: 0.5rem;
      min-height: 3.24rem;
      &-small {
        @extend .button--extra-extra-small__transaction-plan;
        height: 3rem;
        width: 8rem;
        min-height: 3rem;
      }
    }

    &__view-receipt {
      width: 100%;
      justify-content: space-evenly;
      padding: 0 0.3rem;
      &:hover {
        background-color: $secondaryColor;
        border: 0.2rem solid $colorOffWhite;
      }
    }
    &__wide {
      @extend .button--extra-extra-small;
      height: 20%;
      width: 40%;
      transform: translate(0rem, 0rem);
      align-self: center;
      border-radius: 0.5rem;
      min-height: 3.24rem;
      &:nth-of-type(1) {
        margin-bottom: 0.5rem;
      }
    }
    &__wider {
      @extend .button--extra-extra-small__wide;
      width: 10rem;
      transform: translate(0rem, 0.25rem);
    }
  }

  &--extra-small {
    @extend .button;
    height: 7.5%;
    transform: translate(0, 0);
    background-color: transparent;
    border: none;
    &--icon {
      margin-right: 1rem;
    }
    &:hover {
      background-color: transparent;
      border: none;
    }
  }
  &--small {
    @extend .button;
    width: 20%;
    transform: translate(0, 0);
    border-radius: 0.75rem;

    &-purple {
      @extend .button--small;
      background-color: rgba($primaryColor, 0.5);
    }

    &-transparent {
      @extend .button--small;
      background-color: transparent;
      border: 0.3rem solid rgba($colorOffWhite, 0.75);
      border-radius: 1.25rem;
      background-color: transparent;
      &--icon {
        margin-right: 1rem;
      }
      &:hover {
        background-color: $secondaryColor;
        border: 0.3rem solid $colorOffWhite;
      }
      &:active {
        background-color: $tertiaryColor;
        border: 0.3rem solid $colorDarkerGrey;
      }
    }
    &-create-main-category {
      @extend .button--small;
      width: 25%;
      border-radius: 1.25rem;
      margin-left: 1rem;
    }

    &-create-sub-category {
      @extend .button--small;

      @include SizeAndPositioning(relative, 50%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
      height: 50%;
      border: 0.2rem solid rgba($primaryColor, 0.8);
      border-radius: 0.5rem;
      background-color: rgba($colorOffWhite, 0.25);
      margin-left: 1rem;

      &:hover {
        border: 0.2rem solid $primaryColor;
        transition: background-color 0.5s, color 0.5s, border 0.5s;
      }
      &-close {
        @extend .button--small-create-sub-category;
        width: 50%;
        justify-content: space-evenly;
      }
    }
    &-container-header {
      @extend .button--small;
      transform: translate(0, 0);
      height: 75%;
      width: 25%;
      background-color: transparent;
      border: 0.3rem solid rgba($colorOffWhite, 0.8);
      border-radius: 0.9rem;
      &:hover {
        background-color: $secondaryColor;
        border: 0.3rem solid $colorOffWhite;
        transition: color 0.5s, background-color 0.5s, border 0.5s;
      }
      &:active {
        background-color: $tertiaryColor;
      }
    }
  }
  &--borderless {
    @extend .button;
    border: none;
    height: min-content;
    width: max-content;
    margin-top: 0.75rem;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);

    &-set-timing-button {
      @extend .button--borderless;
      background-color: transparent;
      width: 100%;
      border: none;
      margin: 0;
    }

    &:hover {
      border: none;
      background-color: transparent;
    }
    &__icon {
      margin-right: 1rem;
    }
    &-narrow {
      @extend .button--borderless;
      position: absolute;
      height: 3rem;
      width: 12.5%;
      transform: translate(0, 0.75rem);
      bottom: 0;
      right: 36.5%;
      background-color: transparent;
      &:hover {
        transition: color 0.5s, transform 0.5s;
      }
      &__investment {
        @extend .button--borderless-narrow;
        height: 2rem;
        right: 1rem;
        bottom: 0rem;
        transform: translate(0, 0);
      }
    }
  }
  &--medium {
    @extend .button;
    &-square {
      @include SizeAndPositioning(relative, 25%, 25%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
      border: 0.3rem solid rgba($primaryColor, 0.8);
      border-top-left-radius: 0.9rem;
      &:hover {
        cursor: pointer;
        border: 0.3rem solid $primaryColor;
        background-color: $primaryColor;
        transition: border 0.5s, background-color 0.5s;
        .button--medium-square__icon,
        .button--medium-square__text {
          transition: color 0.5s;
        }
      }
    }
    // MAIN CATEGORY DELETION SECTION | MANAGE CATEGORIES
    &-main-category-deletion {
      @extend .button--medium;
      position: absolute;
      height: 10rem;
      width: 10rem;
      top: 0;
      right: 0;
      flex-flow: column nowrap;
      transform: translate(0, 0);
      border: none;
      border-radius: 0;
      border-left: 0.3rem solid $primaryColor;
      border-bottom: 0.3rem solid $primaryColor;
      &:hover {
        cursor: pointer;
        background-color: $primaryColor;
        border: none;
        border-left: 0.3rem solid $primaryColor;
        border-bottom: 0.3rem solid $primaryColor;
        transition: background-color 0.5s, color 0.5s;
      }
    }
  }

  &--large {
    @extend .button;
    &__thin {
      @extend .button--large;
      height: 75%;
      width: 20%;
      transform: translate(0, 0);
      background-color: transparent;
      border: 0.3rem solid rgba($primaryColor, 0.8);
      border-radius: 0.9rem;
    }
  }

  &--budget-navigation {
    @extend .button;
    height: 0.75rem;
    width: 30%;
    transform: translate(0, 0);
    z-index: 10;
    background-color: rgba($primaryColor, 0.8);
    border-radius: 0.4rem;
    border: none;
    transition: background-color 0.5s, width 0.5s;
    &:before,
    &:after {
      content: '';
      z-index: 10;
      background-color: rgba($primaryColor, 0.8);
      border-radius: 0.4rem;
      border: none;
      left: 0;
    }
    &:before {
      @include SizeAndPositioning(absolute, 0.75rem, 50%, flex, row, nowrap, center, center, 0, -1.5rem, 0);
      transition: background-color 0.5s, width 0.5s, transform 0.5s;
    }
    &:after {
      @include SizeAndPositioning(absolute, 0.75rem, 75%, flex, row, nowrap, center, center, 0, 1.5rem, 0);
      transition: background-color 0.5s, width 0.5s, transform 0.5s;
    }
    &:hover {
      cursor: pointer;
      width: 25%;
      border: none;
      &:before {
        width: 100%;
        background-color: $primaryColor;
      }
      &:after {
        width: 100%;
        background-color: $primaryColor;
      }
    }
    &--clicked {
      background-color: transparent;
      &:before {
        transform: translate(0.5rem, 0) rotate(45deg);
        background-color: $colorOffWhite;
        width: 90%;
      }
      &:after {
        transform: translate(0.5rem, 0) rotate(-45deg);
        background-color: $colorOffWhite;
        width: 90%;
      }
      &:hover {
        background-color: transparent;
        &:before,
        &:after {
          width: 100%;
          background-color: $colorOffWhite;
        }
      }
    }
  }
}
