@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.form-container {
  @include SizeAndPositioning(relative, 100%, 100vw, none, row, nowrap, center, center, 0, 0, 0);
  background-color: rgba($colorOffWhite, 0.95);
  z-index: 1;
  .form-closure-icon {
    @include SizeAndPositioning(absolute, 2rem, 2rem, flex, row, nowrap, center, center, 0, 0, 0);
    top: 5rem;
    right: 6rem;
    &:hover {
      cursor: pointer;
      transition: color 0.5s;
    }
  }
  &:nth-of-type(6) {
    display: flex;
  }
}
