@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Vertical Flex Container

.master-flex-container {
  ////////////////////////////////////////////////
  //  Navigation

  .master-grid-container {
    .signup-form-container {
      @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
      flex-direction: column;
      background-color: rgba($primaryColor, 0.8);
      .signup-form {
        @include SizeAndPositioning(relative, 20%, 65%, flex, space-evenly, center, 0, 0, 0);
        flex-direction: column;
        &_questions-and-submit-container {
          @include SizeAndPositioning(relative, 85%, 100%, flex, center, center, 0, 0, 0);
          &--question {
            @include SizeAndPositioning(relative, 100%, 90%, flex, center, center, 0, 0, 0);
            background-color: rgba($colorDarkestGrey, 0.6);
            .question {
              @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
              background-color: transparent;
              border: none;
              border-bottom: 0.2rem inset rgba($colorOffWhite, 0.8);
              padding: 2rem;
              &:not(:placeholder-shown) + label,
              &:focus + label {
                transform: translate(-9rem, -10rem) scale(0.85);
              }
              &:focus {
                border-bottom: 0.2rem inset $secondaryColor;
                outline: transparent;
                &::-webkit-input-placeholder,
                &::placeholder {
                  opacity: 1;
                }
              }
              z-index: 10;
            }
            .question-label {
              @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, 0, 0);
              padding: 2rem;
              z-index: 9;
              transition: transform 1s;
            }
          }
          &--continue {
            @include SizeAndPositioning(relative, 100%, 10%, flex, center, center, 0, 0, 0);
            background-color: rgba($tertiaryColor, 0.8);
            border: none;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
          }
          .q1 {
            display: flex;
          }
        }
      }
      ::-webkit-input-placeholder,
      ::placeholder {
        opacity: 0;
        transition: all 0.75s;
      }
    }
  }
}
