@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

////////////////////////////////////////////////
//  Master Flex Container

.master-flex-container {
  .master-grid-container {
    .form-container,
    .create-budget-form-container {
      @include SizeAndPositioning(relative, 100%, 0%, none, center, center, 0, 0, 0);
      background-color: rgba($primaryColorDark, 0.9);
      opacity: 0;
      #closeForgottenForm {
        @include SizeAndPositioning(absolute, 7.5rem, 7.5rem, flex, center, center, 0, 0, 0);
        top: 2rem;
        right: 2rem;
        transition: color 0.5s;
      }
      .login-form,
      .signup-form,
      .forgotten-form,
      .password-reset-form,
      .create-budget-form {
        @include SizeAndPositioning(relative, 100%, 45%, flex, center, center, 0, 0, 0);
        flex-direction: column;
        &__form-section {
          @include SizeAndPositioning(relative, 12.5%, 100%, none, center, center, 0, 0, 0);
          margin-top: 4rem;
          &__input {
            @include SizeAndPositioning(relative, 100%, 100%, flex, center, flex-start, 0, 0, 0);
            border: 0.3rem solid rgba($tertiaryColor, 0.95);
            border-bottom: 0.15rem solid rgba($tertiaryColor, 0.95);
            background-color: rgba($colorDarkestGrey, 0.75);
            padding-left: 4rem;
            &::-webkit-input-placeholder {
              opacity: 0;
            }
            &:focus::-webkit-input-placeholder {
              opacity: 1;
            }
            &::-moz-placeholder {
              opacity: 0;
            }
            &:focus::-moz-placeholder {
              opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              transform: translate(-13.25rem, -7rem) scale(0.65);
            }
            &--rounded-top {
              border-top-left-radius: 2.5rem;
              border-top-right-radius: 2.5rem;
            }
            &:focus {
              outline: none;
            }
            &:invalid {
              border: 0.3rem solid rgba(#cf352e, 0.75);
            }
            &:valid {
              border: 0.3rem solid $tertiaryColor;
            }
          }
          &__label {
            @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, 0, 0);
            padding-left: 1.5rem;
            transition: transform 0.5s, opacity 0.5s;
          }
          &--message {
            @include SizeAndPositioning(relative, 7.5%, 100%, none, center, center, 0, 0, 0);
            &__message-container {
              @include SizeAndPositioning(relative, 100%, 75%, flex, center, center, 0, 0, 0);
              border: 0.3rem solid rgba($tertiaryColor, 0.95);
              border-top: 0.15rem solid rgba($tertiaryColor, 0.95);
              background-color: rgba($colorDarkestGrey, 0.75);
            }
            &__form-button {
              @include SizeAndPositioning(relative, 100%, 25%, flex, center, center, 0, 0, 0);
              border: 0.3rem solid rgba($tertiaryColor, 0.95);
              border-top: 0.15rem solid rgba($tertiaryColor, 0.95);
              border-left: 0.15rem solid rgba($tertiaryColor, 0.95);
              background-color: rgba($tertiaryColor, 0.75);
              transition: background-color 0.5s;
              padding: 1rem;
              &:hover {
                cursor: pointer;
                background-color: $tertiaryColor;
              }
              &:nth-of-type(3),
              &:nth-of-type(4) {
                width: 24.375%;
              }
            }
            #loginButtonOne {
              margin: 0 0.3% 0 0.325%;
            }
          }
          &__lds-label {
            @include SizeAndPositioning(absolute, min-content, 100%, flex, flex-start, center, 0, -2.4rem, 0);
            top: 0;
            left: 3rem;
            &--icon {
              @include SizeAndPositioning(absolute, min-content, min-content, flex, flex-start, center, 0, -2.5rem, 0);
              top: 0;
              left: 29rem;
              &:hover {
                cursor: pointer;
                transition: color 0.5s;
              }
            }
          }
        }

        &__header {
          @include SizeAndPositioning(absolute, 10%, 100%, flex, center, center, 0, 0, 0);
          top: 0;
          left: 0;
          background-color: $tertiaryColor;
        }
        .create-budget-form__form-section__checkbox-input {
          position: relative;
          display: none;
        }
        #latterDaySaintYesLabel,
        #latterDaySaintNoLabel,
        #tithingNetLabel,
        #tithingGrossLabel,
        #tithingSurplusLabel {
          @include SizeAndPositioning(relative, 100%, 50%, flex, center, center, 0, 0, 0);
          border: 0.3rem solid rgba($tertiaryColor, 0.95);
          background-color: rgba($colorDarkestGrey, 0.75);
        }
        #latterDaySaintYesLabel,
        #tithingNetLabel {
          border-top-left-radius: 2.5rem;
          border-right: 0.2rem solid rgba($tertiaryColor, 0.95);
        }
        #latterDaySaintNoLabel,
        #tithingSurplusLabel {
          border-top-right-radius: 2.5rem;
          border-left: 0.2rem solid rgba($tertiaryColor, 0.95);
        }
        #tithingNetLabel,
        #tithingGrossLabel,
        #tithingSurplusLabel {
          width: 33.3%;
        }
        &-modal {
          @include SizeAndPositioning(absolute, 60%, 100%, none, center, center, 0, -50%, 0);
          top: 50%;
          left: 0;
          padding: 3rem;
          border: 0.3rem solid $tertiaryColor;
          border-radius: 2.5rem;
          background-color: rgba($tertiaryColorDark, 0.95);
          &__close {
            @include SizeAndPositioning(absolute, 5rem, 5rem, flex, center, center, 0, 0, 0);
            top: 3rem;
            right: 3rem;
            &:hover {
              cursor: pointer;
              transition: color 0.5s;
            }
          }
        }
      }
      &--open {
        width: 100%;
        opacity: 1;
        display: flex;
        transition: width 0.5s, opacity 1s;
      }
      .create-budget-form-message {
        display: none;
      }
      .create-budget-form-question {
        &--full-page {
          @include SizeAndPositioning(absolute, 90%, 100%, flex, flex-start, center, 0, 0, 0);
          bottom: 0;
          flex-direction: column;
          background-color: rgba($colorOffWhite, 0.1);
          .create-budget-form__sub-header {
            @include SizeAndPositioning(relative, 6.5rem, 100%, flex, center, center, 0, 0, 0);
            border-top: 0.4rem groove rgba($colorDarkestGrey, 0.9);
            border-bottom: 0.4rem groove rgba($colorDarkestGrey, 0.9);
            background-color: $secondaryColorLighter;
          }
          .create-budget-form__category-container {
            @include SizeAndPositioning(relative, 50%, 100%, flex, space-evenly, flex-start, 0, 0, 0);
            flex-flow: row wrap;
            overflow-y: auto;
            &__category {
              @include SizeAndPositioning(relative, 27.5%, 12.5%, flex, space-evenly, center, 0, 0, 0);
              flex-direction: column;
              border: 0.3rem solid rgba($colorOffWhite, 0.75);
              padding: 2.4rem;
              border-radius: 1rem;
              margin: 1rem;
              background-color: rgba($primaryColorLight, 0.5);
              &--icon {
                margin-bottom: 1rem;
              }
              &:hover {
                cursor: pointer;
                background-color: $tertiaryColor;
                border: 0.3rem solid $colorOffWhite;
                transition: background-color 0.5s, color 0.5s, border 0.5s;
              }
            }
          }
          .create-budget-form__row-container {
            @include SizeAndPositioning(relative, 40%, 100%, flex, space-evenly, flex-start, 0, 0, 0);
            bottom: 0;
            &__main-category-display,
            &__sub-category-display {
              @include SizeAndPositioning(relative, 100%, 47.5%, flex, flex-start, flex-start, 0, 0, 0);
              flex-direction: column;
              background-color: rgba($colorOffWhite, 0.15);
              &--header {
                @include SizeAndPositioning(relative, 6.5rem, 100%, flex, center, center, 0, 0, 0);
                background-color: $tertiaryColorLight;
                border: 0.3rem solid $colorOffWhite;
              }
            }
            &__main-category-display {
              &-container {
                @include SizeAndPositioning(relative, 80%, 100%, flex, space-evenly, flex-start, 0, 0, 0);
                flex-flow: row wrap;
                padding-top: 1rem;
                overflow-y: auto;
                &__category {
                  @include SizeAndPositioning(relative, 40%, 25%, flex, space-evenly, center, 0, 0, 0);
                  flex-direction: column;
                  border: 0.3rem solid rgba($colorOffWhite, 0.75);
                  padding: 2.4rem;
                  border-radius: 1rem;
                  margin: 0.5rem;
                  background-color: rgba($primaryColorLight, 0.5);
                }
              }
            }
            &__sub-category-display {
              &__sub-category-container {
                @include SizeAndPositioning(relative, 80%, 100%, flex, flex-start, flex-start, 0, 0, 0);
                flex-direction: column;
                overflow-y: auto;
                &__container {
                  @include SizeAndPositioning(relative, 6.5rem, 100%, flex, space-evenly, center, 0, 0, 0);
                  border: 0.3rem solid rgba($colorOffWhite, 0.75);
                  background-color: rgba($colorOffWhite, 0.4);
                  &__surplus-container {
                    @include SizeAndPositioning(relative, 100%, min-content, flex, space-evenly, center, 0, 0, 0);
                    flex-direction: column;
                    padding: 0.25rem;
                    &__toggle {
                      @include SizeAndPositioning(relative, 49%, 90%, flex, flex-start, center, 0, 0, 0);
                      border-radius: 5rem;
                      padding: 0.125rem;
                      border: 0.3rem solid rgba($primaryColor, 0.9);
                      background-color: rgba($primaryColorDark, 0.7);
                      &:hover {
                        cursor: pointer;
                        border: 0.3rem solid $tertiaryColor;
                        background-color: $tertiaryColorDarker;
                        transition: background-color 0.5s, color 0.5s, border 0.5s;
                      }
                    }
                  }
                  &__remove-category {
                    &:hover {
                      cursor: pointer;
                      transition: color 0.5s;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .form-page-number {
        margin-top: 3rem;
      }
      &--password-reset {
        @include SizeAndPositioning(relative, 100%, 100%, flex, center, center, 0, 0, 0);
        background-color: rgba($primaryColorDark, 0.9);
        .password-reset-form {
          @include SizeAndPositioning(relative, 100%, 45%, flex, center, center, 0, 0, 0);
          flex-direction: column;
          &__form-section {
            @include SizeAndPositioning(relative, 12.5%, 100%, flex, center, center, 0, 0, 0);
            margin-top: 4rem;
            &__input {
              @include SizeAndPositioning(relative, 100%, 100%, flex, center, flex-start, 0, 0, 0);
              border: 0.2rem solid rgba($tertiaryColor, 0.95);
              background-color: rgba($colorDarkestGrey, 0.75);
              padding-left: 4rem;
              &::-webkit-input-placeholder {
                opacity: 0;
              }
              &:focus::-webkit-input-placeholder {
                opacity: 1;
              }
              &::-moz-placeholder {
                opacity: 0;
              }
              &:focus::-moz-placeholder {
                opacity: 1;
              }
              &:not(:placeholder-shown) + label,
              &:focus + label {
                transform: translate(-13.25rem, -7rem) scale(0.65);
              }
              &--rounded-top {
                border-top-left-radius: 2.5rem;
                border-top-right-radius: 2.5rem;
              }
              &:focus {
                outline: none;
              }
              &:invalid {
                border: 0.3rem solid rgba(#cf352e, 0.75);
              }
              &:valid {
                border: 0.3rem solid $tertiaryColor;
              }
            }
            &__label {
              @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, 0, 0);
              padding-left: 1.5rem;
              transition: transform 0.5s, opacity 0.5s;
            }
            &--message {
              @include SizeAndPositioning(relative, 7.5%, 100%, flex, center, center, 0, 0, 0);
              &__message-container {
                @include SizeAndPositioning(relative, 100%, 75%, flex, center, center, 0, 0, 0);
                border: 0.2rem solid rgba($tertiaryColor, 0.95);
                background-color: rgba($colorDarkestGrey, 0.75);
              }
              &__form-button {
                @include SizeAndPositioning(relative, 100%, 25%, flex, center, center, 0, 0, 0);
                border: 0.2rem solid rgba($tertiaryColor, 0.95);
                border-top: 0.15rem solid rgba($tertiaryColor, 0.95);
                border-left: 0.15rem solid rgba($tertiaryColor, 0.95);
                background-color: rgba($tertiaryColor, 0.75);
                transition: background-color 0.5s;
                padding: 1rem;
                &:hover {
                  cursor: pointer;
                  background-color: $tertiaryColor;
                }
                &:nth-of-type(3),
                &:nth-of-type(4) {
                  width: 24.375%;
                }
              }
              #loginButtonOne {
                margin: 0 0.3% 0 0.325%;
              }
            }
          }
        }
      }
      /////////////////////////////////////
      // Create Buget Form Specific Styles

      .close-create-budget-forms {
        @include SizeAndPositioning(absolute, 5rem, 5rem, flex, center, center, 0, 0, 0);
        top: 3rem;
        right: 3rem;
        transition: color 0.5s;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .user-profile-background {
      .user-profile-card {
        &__user-info {
          &__profile-option-container {
            &__content {
              .unique-profile-content-container.unique-profile-content-container__password-management,
              .unique-profile-content-container.unique-profile-content-container__personal-information,
              .unique-profile-content-container.unique-profile-content-container__communications,
              .unique-profile-content-container.unique-profile-content-container__account-management {
                @include SizeAndPositioning(relative, 100%, 100%, none, center, center, 0, 0, 0);
                // @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;
                .change-password-form,
                .personal-information-form,
                .communications-form {
                  @include SizeAndPositioning(relative, min-content, 100%, none, space-evenly, center, 0, 0, 0);
                  flex-direction: column;
                  &__form-section {
                    @include SizeAndPositioning(relative, 7rem, 100%, flex, center, center, 0, 0, 0);
                    flex-direction: column;
                    margin-top: 2.5rem;
                    &__input {
                      @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                      padding-left: 2rem;
                      background-color: rgba($colorDarkestGrey, 0.75);
                      border: 0.2rem solid rgba($primaryColor, 0.8);
                      border-radius: 1.5rem;
                      &:focus {
                        border: 0.2rem solid $primaryColor;
                        outline: none;
                      }
                      &::-webkit-input-placeholder {
                        opacity: 0;
                      }
                      &:focus::-webkit-input-placeholder {
                        opacity: 1;
                      }
                      &::-moz-placeholder {
                        opacity: 0;
                      }
                      &:focus::-moz-placeholder {
                        opacity: 1;
                      }
                      &:not(:placeholder-shown) + label,
                      &:focus + label {
                        transform: translate(-7rem, -8rem) scale(0.7);
                      }
                    }
                    &__label {
                      @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, -50%, 0);
                      top: 50%;
                      left: 2rem;
                      -moz-transform: translate(0, -50%);
                      &:hover {
                        cursor: pointer;
                      }
                      transition: transform 0.5s, opacity 0.5s;
                    }
                  }
                }
              }
              .unique-profile-content-container.unique-profile-content-container__personal-information,
              .unique-profile-content-container.unique-profile-content-container__communications {
                justify-content: flex-start;
                .personal-information-form,
                .communications-form {
                  display: flex;
                  &__form-section {
                    flex-direction: row;
                    &__input-container {
                      @include SizeAndPositioning(relative, 100%, 80%, flex, center, center, 0, 0, 0);
                      flex-direction: column;
                      margin-left: 2rem;
                      &__input {
                        @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                        padding-left: 2rem;
                        background-color: rgba($colorDarkestGrey, 0.75);
                        border: 0.2rem solid rgba($primaryColor, 0.8);
                        border-radius: 1.5rem;
                        &:focus {
                          border: 0.2rem solid $primaryColor;
                          outline: none;
                        }
                        &::-webkit-input-placeholder {
                          opacity: 0;
                        }
                        &:focus::-webkit-input-placeholder {
                          opacity: 1;
                        }
                        &::-moz-placeholder {
                          opacity: 0;
                        }
                        &:focus::-moz-placeholder {
                          opacity: 1;
                        }
                        &:not(:placeholder-shown) + label,
                        &:focus + label {
                          transform: translate(-6rem, -8rem) scale(0.7);
                        }
                      }
                      &__label {
                        @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, -50%, 0);
                        top: 50%;
                        left: 2rem;
                        -moz-transform: translate(0, -50%);
                        &:hover {
                          cursor: pointer;
                        }
                        transition: transform 0.5s, opacity 0.5s;
                      }
                    }
                    &--lds,
                    &--comms {
                      @include SizeAndPositioning(relative, 7rem, 100%, flex, space-evenly, center, 0, 0, 0);
                      margin-top: 2rem;
                      .personal-information-form__toggle-switch {
                        @include SizeAndPositioning(relative, 85%, 32.5%, flex, flex-start, center, 0, 0, 0);
                        padding: 0.35rem;
                        background-color: rgba($primaryColorDarker, 0.25);
                        border: 0.3rem groove $primaryColor;
                        border-radius: 8rem;
                        transition: border 0.25s, background-color 0.25s, color 0.25s;
                        &:hover {
                          cursor: pointer;
                        }
                        &--toggled {
                          border: 0.3rem groove rgba($tertiaryColor, 0.8);
                          background-color: rgba($tertiaryColor, 0.8);
                          &:hover {
                            cursor: pointer;
                            border: 0.3rem groove $tertiaryColor;
                            .personal-information-form__toggle-switch__switch {
                              background-color: $tertiaryColor;
                            }
                          }
                        }
                        &__text--no {
                          @include SizeAndPositioning(relative, 100%, 30%, flex, center, center, 3rem, 0, 0);
                          transition: border 0.25s, background-color 0.25s, color 0.25s, opacity 0.25s;
                          &--reposition {
                            position: absolute;
                          }
                          &--removed {
                            display: none;
                          }
                          &--toggled {
                            opacity: 0;
                          }
                        }
                        &__text--yes {
                          @include SizeAndPositioning(absolute, 90%, 95%, none, center, center, -50%, -50%, 0);
                          border-radius: 4rem;
                          top: 50%;
                          left: 50%;
                          opacity: 0;
                          transition: border 0.25s, background-color 0.25s, color 0.25s, width 0.25s;
                          &--displayed {
                            display: flex;
                          }
                          &--toggled {
                            display: flex;
                            opacity: 1;
                          }
                        }
                        &__switch--toggled {
                          transform: translate(185%, 0);
                          border: 0.3rem groove $tertiaryColor;
                          background-color: rgba($tertiaryColor, 0.8);
                          &-full {
                            transform: translate(0, 0);
                            width: 100%;
                            border: 0.3rem groove $tertiaryColor;
                            background-color: rgba($tertiaryColor, 0.8);
                            transform-origin: right;
                            &:hover {
                              cursor: pointer;
                              background-color: $tertiaryColor;
                            }
                          }
                        }
                      }
                      .communications-form__comm-switch {
                        @include SizeAndPositioning(relative, 85%, 50%, flex, space-evenly, center, 0, 0, 0);
                        padding: 0.35rem;
                        background-color: rgba($colorDarkestGrey, 0.75);
                        border: 0.3rem groove $primaryColor;
                        border-radius: 8rem;
                        transition: border 0.25s, background-color 0.25s, color 0.25s;
                        &:before {
                          @include SizeAndPositioning(absolute, 88%, 49%, flex, center, center, 0, -50%, 0);
                          top: 50%;
                          left: 1.5%;
                          content: '';
                          background-color: rgba($tertiaryColor, 0.9);
                          border-top-left-radius: 8rem;
                          border-bottom-left-radius: 8rem;
                          transition: transform 0.5s, border-radius 0.5s;
                        }
                        &--email,
                        &--text {
                          @include SizeAndPositioning(relative, 100%, 50%, flex, space-evenly, center, 0, 0, 0);
                          &__text,
                          &__icon {
                            @include SizingItem(relative, min-content, min-content);
                            z-index: 6;
                          }
                        }
                        &--email {
                          border-top-left-radius: 6rem;
                          border-bottom-left-radius: 6rem;
                        }
                        &--text {
                          border-top-right-radius: 6rem;
                          border-bottom-right-radius: 6rem;
                        }
                        &:hover {
                          cursor: pointer;
                        }
                        &--text-preference {
                          @include SizeAndPositioning(relative, 85%, 50%, flex, space-evenly, center, 0, 0, 0);
                          padding: 0.35rem;
                          background-color: rgba($colorDarkestGrey, 0.75);
                          border: 0.3rem groove $primaryColor;
                          border-radius: 8rem;
                          transition: border 0.25s, background-color 0.25s, color 0.25s;
                          &:hover {
                            cursor: pointer;
                          }
                          &:before {
                            @include SizeAndPositioning(absolute, 88%, 49%, flex, center, center, 98.5%, -50%, 0);
                            top: 50%;
                            left: 1.5%;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 8rem;
                            border-bottom-right-radius: 8rem;
                            background-color: rgba($tertiaryColor, 0.9);
                            content: '';
                          }
                        }
                      }
                    }
                  }
                  #emailConfirmedSection {
                    display: none;
                  }
                }
              }
              .personal-information-modal {
                @include SizeAndPositioning(absolute, 60%, 100%, none, center, center, 0, -50%, 0);
                background-color: rgba($tertiaryColorDarker, 0.95);
                border: 0.4rem solid $tertiaryColor;
                top: 50%;
                border-radius: 3rem;
                padding: 3rem;
                &__close {
                  @include SizeAndPositioning(relative, 4rem, 4rem, flex, center, center, 1.4rem, -5.4rem, 0);
                  transition: color 0.5s;
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
