@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Master Flex Container

.master-flex-container {
  .master-grid-container {
    .form-container {
      @include SizeAndPositioning(relative, 100%, 0%, none, center, center, 0, 0, 0);
      background-color: rgba($primaryColorDark, 0.9);
      opacity: 0;
      #closeForgottenForm {
        @include SizeAndPositioning(absolute, 7.5rem, 7.5rem, flex, center, center, 0, 0, 0);
        top: 2rem;
        right: 2rem;
        transition: color 0.5s;
      }
      .login-form,
      .signup-form,
      .forgotten-form {
        @include SizeAndPositioning(relative, 100%, 45%, flex, center, center, 0, 0, 0);
        flex-direction: column;
        &__form-section {
          @include SizeAndPositioning(relative, 12.5%, 100%, none, center, center, 0, 0, 0);
          margin-top: 4rem;
          &__input {
            @include SizeAndPositioning(relative, 100%, 100%, flex, center, flex-start, 0, 0, 0);
            border: 0.2rem solid rgba($tertiaryColor, 0.95);
            background-color: rgba($colorDarkestGrey, 0.75);
            padding-left: 4rem;
            &::-webkit-input-placeholder {
              opacity: 0;
            }
            &:focus::-webkit-input-placeholder {
              opacity: 1;
            }
            &::-moz-placeholder {
              opacity: 0;
            }
            &:focus::-moz-placeholder {
              opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
              transform: translate(-13.25rem, -7rem) scale(0.65);
            }
            &--rounded-top {
              border-top-left-radius: 2.5rem;
              border-top-right-radius: 2.5rem;
            }
            &:focus {
              outline: none;
            }
            &:invalid {
              border: 0.3rem solid rgba(#cf352e, 0.75);
            }
            &:valid {
              border: 0.3rem solid $tertiaryColor;
            }
          }
          &__label {
            @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, 0, 0);
            padding-left: 4rem;
            transition: transform 0.5s, opacity 0.5s;
          }
          &--message {
            @include SizeAndPositioning(relative, 7.5%, 100%, none, center, center, 0, 0, 0);
            &__message-container {
              @include SizeAndPositioning(relative, 100%, 75%, flex, center, center, 0, 0, 0);
              border: 0.2rem solid rgba($tertiaryColor, 0.95);
              background-color: rgba($colorDarkestGrey, 0.75);
            }
            &__form-button {
              @include SizeAndPositioning(relative, 100%, 25%, flex, center, center, 0, 0, 0);
              border: 0.2rem solid rgba($tertiaryColor, 0.95);
              background-color: rgba($tertiaryColor, 0.75);
              transition: background-color 0.5s;
              padding: 1rem;
              &:hover {
                cursor: pointer;
                background-color: $tertiaryColor;
              }
              &:nth-of-type(3),
              &:nth-of-type(4) {
                width: 24.375%;
              }
            }
            #loginButtonOne {
              margin: 0 0.3% 0 0.325%;
            }
          }
        }
      }
      &--open {
        width: 100%;
        opacity: 1;
        display: flex;
        transition: width 0.5s, opacity 1s;
      }
      .form-page-number {
        margin-top: 3rem;
      }
    }
    .user-profile-background {
      .user-profile-card {
        &__user-info {
          &__profile-option-container {
            &__content {
              .unique-profile-content-container.unique-profile-content-container__password-management,
              .unique-profile-content-container.unique-profile-content-container__personal-information,
              .unique-profile-content-container.unique-profile-content-container__communications,
              .unique-profile-content-container.unique-profile-content-container__account-management {
                @include SizeAndPositioning(relative, 100%, 100%, none, center, center, 0, 0, 0);
                // @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;
                .change-password-form,
                .personal-information-form {
                  @include SizeAndPositioning(relative, 50rem, 100%, none, space-evenly, center, 0, 0, 0);
                  flex-direction: column;
                  &__form-section {
                    @include SizeAndPositioning(relative, 7rem, 100%, flex, center, center, 0, 0, 0);
                    flex-direction: column;
                    margin-top: 2.5rem;
                    &__input {
                      @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                      padding-left: 2rem;
                      background-color: rgba($colorDarkestGrey, 0.75);
                      border: 0.2rem solid rgba($primaryColor, 0.8);
                      border-radius: 1.5rem;
                      &:focus {
                        border: 0.2rem solid $primaryColor;
                        outline: none;
                      }
                      &::-webkit-input-placeholder {
                        opacity: 0;
                      }
                      &:focus::-webkit-input-placeholder {
                        opacity: 1;
                      }
                      &::-moz-placeholder {
                        opacity: 0;
                      }
                      &:focus::-moz-placeholder {
                        opacity: 1;
                      }
                      &:not(:placeholder-shown) + label,
                      &:focus + label {
                        transform: translate(-7rem, -8rem) scale(0.7);
                      }
                    }
                    &__label {
                      @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, -50%, 0);
                      top: 50%;
                      left: 2rem;
                      -moz-transform: translate(0, -50%);
                      &:hover {
                        cursor: pointer;
                      }
                      transition: transform 0.5s, opacity 0.5s;
                    }
                  }
                }
              }
              .unique-profile-content-container.unique-profile-content-container__personal-information {
                justify-content: flex-start;
                .personal-information-form {
                  display: flex;
                  &__form-section {
                    flex-direction: row;
                    &__input-container {
                      @include SizeAndPositioning(relative, 100%, 80%, flex, center, center, 0, 0, 0);
                      flex-direction: column;
                      margin-left: 2rem;
                      &__input {
                        @include SizeAndPositioning(relative, 100%, 100%, flex, flex-start, center, 0, 0, 0);
                        padding-left: 2rem;
                        background-color: rgba($colorDarkestGrey, 0.75);
                        border: 0.2rem solid rgba($primaryColor, 0.8);
                        border-radius: 1.5rem;
                        &:focus {
                          border: 0.2rem solid $primaryColor;
                          outline: none;
                        }
                        &::-webkit-input-placeholder {
                          opacity: 0;
                        }
                        &:focus::-webkit-input-placeholder {
                          opacity: 1;
                        }
                        &::-moz-placeholder {
                          opacity: 0;
                        }
                        &:focus::-moz-placeholder {
                          opacity: 1;
                        }
                        &:not(:placeholder-shown) + label,
                        &:focus + label {
                          transform: translate(-6rem, -8rem) scale(0.7);
                        }
                      }
                      &__label {
                        @include SizeAndPositioning(absolute, 100%, 100%, flex, flex-start, center, 0, -50%, 0);
                        top: 50%;
                        left: 2rem;
                        -moz-transform: translate(0, -50%);
                        &:hover {
                          cursor: pointer;
                        }
                        transition: transform 0.5s, opacity 0.5s;
                      }
                    }
                    &--lds {
                      @include SizeAndPositioning(relative, 7rem, 100%, flex, space-evenly, center, 0, 0, 0);
                      margin-top: 2rem;
                      .personal-information-form__toggle-switch {
                        @include SizeAndPositioning(relative, 85%, 32.5%, flex, flex-start, center, 0, 0, 0);
                        padding: 0.35rem;
                        background-color: rgba($primaryColorDarker, 0.25);
                        border: 0.3rem groove $primaryColor;
                        border-radius: 8rem;
                        transition: border 0.5s, background-color 0.5s, color 0.5s;
                        &:hover {
                          cursor: pointer;
                        }
                        &--toggled {
                          border: 0.3rem groove rgba($tertiaryColor, 0.8);
                          background-color: rgba($tertiaryColor, 0.8);
                          &:hover {
                            cursor: pointer;
                            border: 0.3rem groove $tertiaryColor;
                            .personal-information-form__toggle-switch__switch {
                              background-color: $tertiaryColor;
                            }
                          }
                        }
                        &__text--no {
                          @include SizeAndPositioning(relative, 100%, 30%, flex, center, center, 3rem, 0, 0);
                          transition: border 0.5s, background-color 0.5s, color 0.5s, opacity 0.5s;
                          &--reposition {
                            position: absolute;
                          }
                          &--removed {
                            display: none;
                          }
                          &--toggled {
                            opacity: 0;
                          }
                        }
                        &__text--yes {
                          @include SizeAndPositioning(absolute, 90%, 95%, none, center, center, -50%, -50%, 0);
                          border-radius: 4rem;
                          top: 50%;
                          left: 50%;
                          opacity: 0;
                          transition: border 0.5s, background-color 0.5s, color 0.5s, width 0.5s;
                          &--displayed {
                            display: flex;
                          }
                          &--toggled {
                            opacity: 1;
                          }
                        }
                        &__switch--toggled {
                          transform: translate(185%, 0);
                          border: 0.3rem groove $tertiaryColor;
                          background-color: rgba($tertiaryColor, 0.8);
                          &-full {
                            transform: translate(0, 0);
                            width: 100%;
                            transform-origin: right;
                            &:hover {
                              cursor: pointer;
                              background-color: $tertiaryColor;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
