@use '../../../Public/SCSS/Utilities/Mixins' as *;
@use '../../../Public/SCSS/Utilities/Variables' as *;

.month-container {
  @include SizeAndPositioning(relative, 62.5rem, 75%, flex, column, nowrap, flex-start, center, 0, 0, 0);
  border: 0.3rem solid $primaryColor;
  border-radius: 1.25rem;
  padding: 0.25rem;
  &__header {
    @include SizeAndPositioning(relative, 6rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    background-color: $primaryColor;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: 0.3rem solid $tertiaryColor;
    &__icon {
      @include SizeAndPositioning(absolute, 3rem, 3rem, flex, row, nowrap, center, center, 0, -50%, 0);
      top: 50%;
      left: 1rem;
    }
  }
  &__overall-budget-summary-container {
    @include SizeAndPositioning(relative, 14rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
    &--single-summary {
      @include SizeAndPositioning(relative, 100%, 19%, flex, column, nowrap, space-evenly, center, 0, 0, 0);
      background-color: $colorLightestGrey;
      &__title,
      &__amount {
        @include SizeAndPositioning(relative, 50%, 100%, flex, row, nowrap, center, center, 0, 0, 0);
      }
    }
  }
  &__category-container {
    @include SizeAndPositioning(relative, 42.5rem, 100%, flex, row, nowrap, center, center, 0, 0, 0);
    .main-category-display {
      @include SizeAndPositioning(relative, 100%, 40%, flex, row, nowrap, center, center, 0, 0, 0);
      &__button-container {
        @include SizeAndPositioning(relative, 100%, 20%, flex, row, nowrap, center, center, 0, 0, 0);
      }
      &__category-display {
        @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, center, center, 0, 0, 0);
        &__title {
          margin-top: 2rem;
        }
      }
    }
    .sub-category-display {
      @include SizeAndPositioning(relative, 100%, 60%, flex, column, nowrap, flex-start, center, 0, 0, 0);
      margin-left: 1.5rem;
      overflow-y: auto;
      &__headers {
        @include SizeAndPositioning(relative, 4rem, 100%, flex, row, nowrap, space-between, center, 0, 0, 0);
        min-height: 4rem;
        &__title-container {
          @include SizeAndPositioning(relative, 100%, 19.5%, flex, row, nowrap, center, center, 0, 0, 0);
          background-color: $primaryColor;
        }
      }
    }
  }
}

.timing-container {
  @include SizeAndPositioning(absolute, calc(100% - 4rem), 100%, flex, column, nowrap, flex-start, center, 0, 0, 0);
  background-color: rgba($colorOffWhite, 0.9);
  min-height: calc(100% - 4rem);
  overflow-y: auto;
  top: 4rem;
  left: 0;
  z-index: 10;
  &__close {
    @include SizeAndPositioning(absolute, 4rem, 4rem, flex, row, nowrap, center, center, 0, 0, 0);
    top: 2rem;
    right: 2rem;
    &:hover {
      cursor: pointer;
      transition: color 0.5s;
    }
  }
  &__monthly-container,
  &__bi-monthly-container,
  &__bi-weekly-container,
  &__weekly-container {
    @include SizeAndPositioning(relative, min-content, 80%, flex, column, nowrap, center, center, 0, 0, 0);
    &__label {
      @include SizeAndPositioning(relative, 5rem, 60%, flex, row, nowrap, space-evenly, center, 0, 0, 0);
      border: 0.3rem solid rgba($primaryColor, 0.8);
      border-radius: 0.8rem;
      padding: 1rem;
      margin: 0.25rem 0;
      &:first-of-type {
        margin-top: 0.5rem;
      }
      &:last-of-type {
        margin-bottom: 0.5rem;
      }
      &:focus {
        border: 0.3rem solid $primaryColor;
      }
      &__input,
      &__select {
        background-color: rgba($colorOffWhite, 0.25);
        border: 0.2rem solid rgba($primaryColor, 0.8);
        border-radius: 0.6rem;
        padding: 0.2rem;
        &:focus {
          border: 0.2rem solid $primaryColor;
          outline: none;
        }
      }
    }
    .element-hidden {
      display: none;
    }
  }
  &__hidden {
    display: none;
  }
}
