@use "../../../Public/SCSS/Utilities/Mixins" as *;
@use "../../../Public/SCSS/Utilities/Variables" as *;

////////////////////////////////////////////////
//  Master Flex Container

.master-flex-container {
  ////////////////////////////////////////////////
  //  Navigation

  .navigation {
    @include SizeAndPositioning(relative, 4.983rem, 100vw, flex, space-between, center, 0, 0, 0);
    background-color: $primaryColor;
    border-bottom: 0.3rem groove $secondaryColor;
    padding: 0 3rem;
    .logo-container {
      @include SizeAndPositioning(relative, 100%, 50%, flex, flex-start, center, 0, 0, 0);
      &__logo {
        @include SizingItem(relative, 80%, auto);
        margin-right: 2rem;
      }
    }
    &__landing-navigation {
      @include SizeAndPositioning(relative, 80%, 50%, flex, flex-end, center, 0, 0, 0);
    }
  }
}
