section.form__section.r__form__section
  input.form__input--small-savings-goal.r__form__input--small.r__.form__input--small-savings-goal.savings-percent-goal.r__savings-percent-goal#savingsPercentGoal(type="number" name="savingsPercentGoal" placeholder="SAVINGS PERCENT GOAL" min="0" max="100" required)
  label.form__label--small-savings-goal.r__form__label--small-savings-goal(for="savingsPercentGoal") Percentage going towards savings?
  input.form__input--small-savings-goal.r__form__input--small.r__.form__input--small-savings-goal#savingsGoal(type="number" name="savingsGoal" placeholder="SAVINGS FUND GOAL" required)
  label.form__label--small-savings-goal.r__form__label--small-savings-goal(for="savingsGoal") What is your savings fund goal amount?