section.budget-creation-form__page__section.r__budget-creation-form__page__section
  input.budget-creation-form__page__section__input.r__budget-creation-form__page__section__input#savingsGoal(type="number" name="savingsGoal" placeholder="SAVINGS FUND GOAL" required)
  label.budget-creation-form__page__section__label.r__budget-creation-form__page__section__label(for="savingsGoal") What is your savings fund goal amount?