extends ./../budgetLanding

block Budget-Content 
  header.budget-container__header.r__budget-container__header
    p.budget-container__header__text.r__budget-container__header__text Account Management
  section.container--extra-large.r__container--extra-large
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-piggy-bank.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Bank Account
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-calendar.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Monthly Budget
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-house-chimney-crack.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Emergency Fund
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-money-bill-alt.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Savings Fund
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-file-invoice-dollar.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Expense Fund
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-dollar-sign.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Surplus
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-chart-line.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Investment Fund
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-circle-dollar-to-slot.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Tithing Owed
    section.container--extra-small__margin-left-and-right.r__container--extra-small__margin-left-and-right
      section.container--extra-small__margin-left-and-right__header.r__container--extra-small__margin-left-and-right__header
        i.fas.fa-comments-dollar.container--extra-small__margin-left-and-right__header__icon.r__container--extra-small__margin-left-and-right__header__icon
        p.container--extra-small__margin-left-and-right__header__text.r__container--extra-small__margin-left-and-right__header__text Transfer Funds