div.form-container.r__form-container.column_1-24.row_1-18
  i.fas.fa-window-close.form-closure-icon.r__form-closure-icon
  form.form.r__form.form--login.r__form--login.login-form.r__login-form
    header.form__header.r__form__header
      p.form__header__title.r__form__header__title Login 
    section.form__section.r__form__section
      input.form__input.r__form__input#loginUsername(type="text" name="loginUsername" placeholder="USERNAME" required)
      label.form__label.r__form__label(for="loginUsername") Please Provide Your Username
    section.form__section.r__form__section
      input.form__input.r__form__input#loginPassword(type="password" name="loginPassword" placeholder="PASSWORD" required)
      label.form__label.r__form__label(for="loginPassword") Please Provide Your Password
    section.form__section.r__form__section
      button.button.r__button.button--small.r__button--small Submit
      p.button.r__button.button--borderless.r__button--borderless Forgot Username or Password?