section.form__section--long.r__form__section--long.debt-transaction.r__debt-transaction
  input.form__input--long.r__form__input--long#debtDescription(type="text" placeholder="Transaction Description")
  label.form__label--long.r__form__label--long(for="debtDescription") Description
section.form__section--medium.r__form__section--medium.debt-transaction.r__debt-transaction
  input.form__input--medium.r__form__input--medium#debtAmountSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--medium.r__form__label--medium(for="debtAmountSpent") Amount Spent
section.form__section--switch__fully-paid-for__alt.r__form__section--switch__fully-paid-for__alt.debt-transaction.r__debt-transaction
  label Fully Paid For?
    .form__input-container--paid-for.r__form__input-container--paid-for 
      .form__input-container--paid-for__no.r__form__input-container--paid-for__no
        p.form__input-container--paid-for__no--text.r__form__input-container--paid-for__no--text NO
      .form__input-container--paid-for__yes.r__form__input-container--paid-for__yes
        p.form__input-container--paid-for__yes--text.r__form__input-container--paid-for__yes--text YES