input.form-input.r__form-input#emergencyFundDescription(type="text")
label.form-label.r__form-label(for="emergencyFundDescription") Description
input.form-input.r__form-input#emergencyAmountSpent(type="number" min="0")
label.form-label.r__form-label(for="emergencyAmountSpent") Amount Spent