section.form__section--long__padded--left.r__form__section--long__padded--left.emergency-fund-transaction.r__emergency-fund-transaction
  input.form__input--long.r__form__input--long#emergencyFundDescription(type="text" placeholder="Transaction Description")
  label.form__label--long.r__form__label--long(for="emergencyFundDescription") Description
section.form__section--medium__padded--topLeft.r__form__section--medium__padded--topLeft.emergency-fund-transaction.r__emergency-fund-transaction
  input.form__input--medium.r__form__input--medium#emergencyAmountSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--medium__alt-2.r__form__label--medium__alt-2(for="emergencyAmountSpent") Amount Spent