- const expenseTypes = [`Expense`, `Bill`]
label.form__label--medium__relative.r__form__label--medium__relative.expense-fund-transaction.r__expense-fund-transaction  
  p.form__label--medium__relative__text.r__form__label--medium__relative__text Expense Type
  select.form__select--expense-fund-transaction.r__form__select--expense-fund-transaction#expenseType
    each expenseType in expenseTypes 
      option.category-selection.r__category-selection(value=`${expenseType}`)= `${expenseType}`
label.form__label--medium__relative.r__form__label--medium__relative.expense-fund-transaction.r__expense-fund-transaction  
  p.form__label--medium__relative__text.r__form__label--medium__relative__text Expense Timing
  select.form__select--expense-fund-transaction.r__form__select--expense-fund-transaction#expenses
    - const timings = [`Once`,`Weekly`,`Bi-Weekly`,`Bi-Monthly`,`Monthly`,`Quarterly`,`Bi-Annually`,`Annually`]
    each timing in timings 
      option.category-selection.r__category-selection(value=`${timing}`)= `${timing}`
label.form__label--medium__relative.r__form__label--medium__relative.expense-fund-transaction.r__expense-fund-transaction  
  p.form__label--medium__relative__text.r__form__label--medium__relative__text Expense
  select.form__select--expense-fund-transaction.r__form__select--expense-fund-transaction#expenses
    option Imported British Suit
  //- This is where the expenses that are either expenses or bills planned.  It depends on the expense type you selected.