section.form__section--enter-transaction__expense-fund__secondary.r__form__section--enter-transaction__expense-fund__secondary.expense-fund-transaction.r__expense-fund-transaction  
  input.form__input--enter-transaction__alt.r__form__input--enter-transaction__alt#expenseFundDescription(type="text" placeholder="Transaction Description")
  label.form__label--expense-fund-transaction.r__form__label--expense-fund-transaction(for="expenseFundDescription") Description
section.form__section--enter-transaction__expense-fund__secondary.r__form__section--enter-transaction__expense-fund__secondary.expense-fund-transaction.r__expense-fund-transaction
  input.form__input--enter-transaction__alt.r__form__input--enter-transaction__alt#expenseAmountSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--expense-fund-transaction.r__form__label--expense-fund-transaction(for="expenseAmountSpent") Amount Spent
section.form__section--switch__fully-paid-for.r__form__section--switch__fully-paid-for.expense-fund-transaction.r__expense-fund-transaction
  label Fully Paid For?
    .form__input-container--paid-for.r__form__input-container--paid-for 
      .form__input-container--paid-for__no.r__form__input-container--paid-for__no
        p.form__input-container--paid-for__no--text.r__form__input-container--paid-for__no--text NO
      .form__input-container--paid-for__yes.r__form__input-container--paid-for__yes
        p.form__input-container--paid-for__yes--text.r__form__input-container--paid-for__yes--text YES