label.form__label--select.r__form__label--select Category
select.form__select--accounts.r__form__select--accounts#mainCategory
  each category in data.budget.mainCategories 
    option.category-selection.r__category-selection(value=`${category.title}`)= `${category.title}`
label.form__label--select.r__form__label--select Sub Category
select.form__select--accounts.r__form__select--accounts#subCategory
  each category in data.budget.mainCategories
    each subCategory in category.subCategories
      option.form__select--monthly-transaction__option.r__form__select--monthly-transaction__option.closed= subCategory.title
  //- This is where depending on the main category, that category's sub categories will be put as options here.