input.form-input.r__form-input#monthlyBudgetDescription(type="text")
label.form-label.r__form-label(for="monthlyBudgetDescription") Description
input.form-input.r__form-input#monthlyBudgetSpent(type="number" min="0")
label.form-label.r__form-label(for="monthlyBudgetSpent") Amount Spent