section.form__section--enter-transaction__monthly-budget__secondary.r__form__section--enter-transaction__monthly-budget__secondary.monthly-budget-transaction.r__monthly-budget-transaction
  input.form__input--enter-transaction.r__form__input--enter-transaction#monthlyBudgetDescription(type="text" placeholder="Transaction Description")
  label.form__label--monthly-budget-transaction.r__form__label--monthly-budget-transaction(for="monthlyBudgetDescription") Description
section.form__section--enter-transaction__monthly-budget__secondary.r__form__section--enter-transaction__monthly-budget__secondary.monthly-budget-transaction.r__monthly-budget-transaction
  input.form__input--enter-transaction.r__form__input--enter-transaction#monthlyBudgetSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--monthly-budget-transaction.r__form__label--monthly-budget-transaction(for="monthlyBudgetSpent") Amount Spent