section.form__section--long.r__form__section--long.monthly-budget-transaction.r__monthly-budget-transaction
  input.form__input--long.r__form__input--long#monthlyBudgetDescription(type="text" placeholder="Transaction Description")
  label.form__label--long.r__form__label--long(for="monthlyBudgetDescription") Description
section.form__section--medium.r__form__section--medium.monthly-budget-transaction.r__monthly-budget-transaction
  input.form__input--medium.r__form__input--medium#monthlyBudgetSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--medium.r__form__label--medium(for="monthlyBudgetSpent") Amount Spent