section.form-row__section.r__form-row__section
  input.form-input.r__form-input#monthlyBudgetDescription(type="text" placeholder="Transaction Description")
  label.form-label.r__form-label(for="monthlyBudgetDescription") Description
section.form-row__section.r__form-row__section
  input.form-input.r__form-input#monthlyBudgetSpent(type="number" min="0" placeholder="$0.00")
  label.form-label.r__form-label(for="monthlyBudgetSpent") Amount Spent