section.form__section--enter-transaction__savings-fund__secondary.r__form__section--enter-transaction__savings-fund__secondary.savings-fund-transaction.r__savings-fund-transaction
  input.form__input--enter-transaction__alt.r__form__input--enter-transaction__alt#savingsFundDescription(type="text" placeholder="Transaction Description")
  label.form__label--savings-fund-transaction.r__form__label--savings-fund-transaction(for="savingsFundDescription") Description
section.form__section--enter-transaction__savings-fund__secondary.r__form__section--enter-transaction__savings-fund__secondary.savings-fund-transaction.r__savings-fund-transaction
  input.form__input--enter-transaction__alt.r__form__input--enter-transaction__alt#savingsAmmountSpent(type="number" min="0" placeholder="$0.00")
  label.form__label--savings-fund-transaction.r__form__label--savings-fund-transaction(for="savingsAmmountSpent") Amount Spent
section.form__section--switch__fully-paid-for.r__form__section--switch__fully-paid-for.savings-fund-transaction.r__savings-fund-transaction
  label Fully Paid For?
    .form__input-container--paid-for.r__form__input-container--paid-for 
      .form__input-container--paid-for__no.r__form__input-container--paid-for__no
        p.form__input-container--paid-for__no--text.r__form__input-container--paid-for__no--text NO
      .form__input-container--paid-for__yes.r__form__input-container--paid-for__yes
        p.form__input-container--paid-for__yes--text.r__form__input-container--paid-for__yes--text YES