section.form-row__section.r__form-row__section.tithing-transaction.r__tithing-transaction
  input.form-input.r__form-input#tithing(type="number" min="0" placeholder="$0.00")
  label.form-label.r__form-label(for="tithing") Amount Donated