- let accounts = [`Monthly Budget`,`Emergency Fund`,`Savings Fund`,`Expense Fund`,`Surplus`,`Debt`,`Tithing`]; 
- if (data.user.latterDaySaint === false) accounts = accounts.filter((a, i) => { if (a !== `Tithing`) return a});
  select.form__select--accounts.r__form__select--accounts
    each account in accounts
      option.form__select--accounts__option.r__form__select--accounts__option(value=`${account}`)= `${account}`
  block secondRow 
    include _monthly-budget
    include _emergency-fund
    include _savings-fund
    include _expense-fund
    include _surplus
    include _investment-fund
    include _debt
  if data.user.latterDaySaint
    include _tithing