tr.footer-container(style="position: relative; display: block; text-align: center; padding: 5px")
  td.copyright(style="position: relative; display: inline-block; text-align: center; font-size: 20px; color: #333333;") &copy; King Richard 2021
tr.footer-container(style="position: relative; display: block; text-align: center; padding: 5px")
  td.slogan(style="position: relative; display: inline-block; text-align: center; font-size: 20px; color: #333333;") Live Like Royalty
