table.email-footer(style="position: relative; display: block; max-width: 600px; width: 600px; margin: 0 auto; padding: 30px; border: 3px groove #BBBBBB77; border-top: none; border-radius: 0 0 10px 10px; background-color: #CCCCCC33; color: #333333;") 
  tbody(style="position: relative; display: block; width: 100%;")
    tr.table-row(style="position: relative; display: block; text-align: center; width: 100%;")
      td.table-data.copyright(style="position: relative; display: block; width: 100%; color: #333333; font-size: 12px; margin: 0 auto;") &copy; King Richard 2021
    tr.table-row(style="position: relative; display: block; text-align: center; width: 100%;")
      td.table-data.slogan(style="position: relative; display: block; width: 100%; color: #333333; font-size: 12px; margin: 0 auto;") Live Like Royalty
