style.

  blockquote {
    font-size: 16px !important;
  }

  .table-button > .link {
    color: #FAFAFA99 inherit !important;
    color: rgba(250, 250, 250, .7) inherit !important;
  }

  .table-button:hover > .link {
    cursor: pointer;
    background-color: #822ABA;
    color: #FAFAFA;
    transition: background-color .5s, color .5s;
  }