style.

  .link-container {
    background-color: #822aba55;
    background-color: rgba(130,42,186, .55);
    color: #FAFAFADD;
    transition: background-color .5s, color .5s ease;
  }

  a.link, a#link {
    color: rgba(250,250,250, .5);
    color: #FAFAFADD inherit !important;
    transition: background-color .5s, color .5s ease;
  }

  a.link:hover, a#link:hover {
    color: rgb(250,250,250);
    color: #FAFAFA;
  }
  
  .link-container > a.link {
    width: 100%;
    border-radius: 20px;
    color: rgba(250,250,250, .5);
    color: #FAFAFADD;
    transition: all .5s;
  }
  .link-container:hover > a.link, tr:hover > a.link {
    cursor: pointer;
    background-color: #822aba;
    color: rgb(250,250,250);
    transition: background-color .5s, color .5s;
  }
  