style.

  .link-container {
    background-color: #822aba55;
    transition: background-color .5s, color .5s;
  }
  
  .link-container .link:link, .link-container #link:link {
    color: #FAFAFADD;
    transition: all .5s;
  }
  .link-container:hover {
    cursor: pointer;
    background-color: #822aba;
    color: #FAFAFA;
    transition: all .5s;
  }
  
  .link-container:hover .link:link, .link-container:hover #link:link {
    color: #FAFAFA;
  }