doctype html
html(style="position: relative; font-family: MADE Tommy Soft, Verdana; margin: 0; padding: 0; box-sizing: inherit;")
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

    include _style
  body(style="position: relative; width: 100%; margin: 0; padding: 0;")
    // HEADER
    include _header
    // CONTENT
    block content
    // EMAIL FOOTER
    include _footer

