extends baseEmail

block content
  tr.salutations-container(style="position: relative; display: block; font-size: 20px; color: #333333;" colspan="2")
    td.salutations-text(style="padding: 20px 10px 10px 30px;")= `${greeting} ${firstName} ${lastName},`
  tr.message-container(style="postion: relative; display: block; width: 100%; font-size: 20px;" colspan="2")
    td.message(style="position: relative; padding: 40px; text-indent: 20px; text-align: center;")= `Welcome to the King Richard family! 😃 👪 We hope you both find using our budgeting app enjoyable AND rewarding for you and those you love.`