extends baseEmail

block content
  table(style="position: relative; display: block; max-width: 600px; width: 600px; margin: 0 auto; padding: 0; border: 3px groove #BBBBBB77; border-top: none; border-bottom: none; background-color: #CCCCCC33; color: #333333;") 
    tbody
      tr.table-row
        td.table-data(style="position: relative; display: block; width: 89%; margin: 0 auto;")  
          blockquote.salutations(style="position: relative; border: none; margin: 0 auto 30px; text-indent: 20px; font-size: 16px; color: #333333;")= `${greeting} ${firstName} ${lastName},`
      tr.table-row 
        td.table-data(style="position: relative; display: block; width: 87%; margin: 0 auto;") 
          blockquote.salutations(style="position: relative; border: none; text-indent: 20px; font-size: 16px; color: #333333;") Welcome to the King Richard Pride! 🦁💰 We hope you have an excellent experience using our budget application.